[2018-04-02 22:56] probil opened #19 "Prevent socket.io-client duplication by force user to provide an instance of it"
I've made investigation today using vue cli, and that's what I got:
[code]

There is a duplication of  `socket.io-client` library when you pass `socket.io-client` instance to the plugin.
So if you use it this way, you probably have extra `~70kb` of useless data in your build.

The only way to fix it is to force library user to pass  `socket.io-client` instance always.

Advantages:
* less build siz

[2018-04-05 13:46] probil opened #25 "Abilitiy to pass custom action prefix for store actions and mutations triggered by plugin"

[2018-04-05 21:42] #19 closed

[2018-04-05 21:53] probil opened #27 "`startsWith` is not supported in IE"
IE didn't support `startsWith` at all.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/startsWith

Possible workaround - use lodash:
https://lodash.com/docs/4.17.5#startsWith

[2018-04-05 21:57] probil opened #28 "Proxy is not supported in IE"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy

Possible workaroud - use Vue's build-in reactivity system.

[2018-04-05 21:58] probil commented on #28
In any case it's not critical as IE is not widely used

[2018-04-10 09:59] zhaojunlike opened #34 "If I want to use the SSR under nuxt, how should I design the socket connection and disconnect?"
If I want to use the SSR under nuxt, how should I design the socket connection and disconnect?

[2018-04-10 10:06] zhaojunlike commented on #34
I found a liege. I'll try it first.

[2018-04-13 09:16] #34 closed

[2018-04-17 20:41] ivokun opened #43 "Event name is not recognized"
Hi Probil!

Thanks for forking this project.
I try this and previous project (vue-socket.io) with vuex, but it's not working. `SOCKET_CONNECT` is working properly, but i can't trigger other event name such as `SOCKET_RESPONSE`

Any chance that i missing something?

Thanks!

[2018-04-17 20:51] probil commented on #43
Hi, @ivokun
Thanks for your attention to the project.
Could you please provide some code (e.g how you define a listener, how you trigger an event)?
It will help me to find an issue much-much quicker.

[2018-04-17 20:59] probil commented on #43
In any case, I will check it out

[2018-04-17 21:17] ivokun commented on #43
Thanks for quick reply.
First i use vuex so i follow this one
`Vue.use(VueSocketio, io('http://socketserver.com:1923'), store);`

And listening data change with this one in store modules

`const mutations = {
  SOCKET_CONNECT: (state) => {
    state.isConnected = true
  },
  SOCKET_PUSH_NER_DATA: (state) => {
    state.response = 'test'
  }
}`

Actual event name is "push ner data", it's just liste

[2018-04-17 21:26] probil commented on #43
Btw, you have explained really good. Thanks :)

[2018-04-17 21:56] ivokun commented on #43
Yeah, i check without space:

action:
`socket_pushNerData`

or

mutation
`SOCKET_PUSH_NER_DATA`

aren't trigger anything.

[2018-04-17 22:02] probil commented on #43
@ivokun I'm going to investigate it deeply in the next 2-20 hours. I will let you know about results as soon as possible. Thanks

[2018-04-18 23:13] probil commented on #43
@ivokun I've finished investigation and it's actually works.
For example for event `chat message` it this way:
[code]
So for your event `push ner data` it should work this way:
[code]
Let me know if that helped you or not.

I don't feel like it's the right way. I'm going to check the approach of converting events to actions and mutations soon.

[2018-04-19 06:00] ivokun commented on #43
Yeah, you are right.
I can use it for my case, lol.

Sorry it seems i misunderstood the methods.
Thanks for your help Max!

[2018-04-19 06:00] #43 closed

[2018-04-19 09:04] probil commented on #43
You are welcome, @ivokun
It's not your fault, actully I've found methods misleading too. :thinking:
Contact me if you have any other issues. Have a nice day!

[2018-04-19 10:27] probil commented on #43
Also I've update docs so it should more clear for you

[2018-04-23 11:40] probil opened #47 "Mutation emmited with value wrapped in array instead of value directly"
### Example
[code]

[code]
**Expected result**: `SOCKET_GREETING_MESSAGE` receives `message`  as `'Hi there'`
**Actual result**: `SOCKET_GREETING_MESSAGE` receives `message`  as `['Hi there']`

---

### Versions
**vue-socket.io-extended**: 2.0.0
**vue**: 2.5.13
**vuex**: 3.0.1

[2018-04-23 16:48] probil commented on #27
Simple `startsWith` polyfill
[code]

[2018-04-24 10:17] #27 closed

[2018-04-25 08:24] geomen888 opened #52 "TypeScript typings"
Hi, pls provide typings initialization for typescript something like
[code]
thank U

[2018-04-26 10:35] probil commented on #52
I don't use TypeScript personally, but I will check what I can do.

[2018-04-29 11:39] probil commented on #28
`Proxy API` part is not really important in the app. It's used only for dynamic socket event adding / removing.
To be honest, I've never used that feature in my projects.

[2018-05-02 10:44] #28 closed

[2018-05-03 10:32] ekinclonk commented on #47
love it :D

[2018-05-14 05:52] gijo-varghese opened #61 "Cannot read property 'emit' of undefined"
I've a `.vue` file like this:

[code]
 and I'm getting an error: `Uncaught TypeError: Cannot read property 'emit' of undefined`

**main.js**
[code]

[2018-05-14 05:57] gijo-varghese commented on #61
It works if I put it inside `main.js` like:
[code]

[2018-05-14 09:41] probil commented on #61
Hi, @gijo-varghese  Thanks for your question.

Could you try to use function instead of arrow function?
I mean:
[code]

[2018-05-14 09:46] gijo-varghese commented on #61
Cool. That worked, thanks!

It would be great if you can mention that in the docs

[2018-05-14 09:46] #61 closed

[2018-05-14 09:47] probil commented on #61
Yeah, great idea :+1:
Thanks, @gijo-varghese

[2018-05-14 10:41] gijo-varghese commented on #61
@probil similarly, how can I emit from a store action?

[code]

[2018-05-14 11:49] probil commented on #61
It seems like you mean mutation, because only mutation accepts state as a first argument.

[code]
I know this is not the perfect solution but it should work.

Btw, try to move this to action instead. Because mutations are like sync transaction and should only change the state
---

As I know there is now way to extend action context so probably I will implement it using custom namespaced module in

[2018-05-14 11:51] gijo-varghese commented on #61
oh ok. For now, I going with `vue-stash` instead of `vuex`. Vuex seems to be pretty big for my simple project

[2018-05-14 12:36] probil commented on #61
Vuex is not really big, it's around `~10kb` (`~3kb` gzip) but ok. Let me know if you have any questions

[2018-05-17 01:42] harishankards opened #65 "Socket connect not triggering from Vue to Nodejs backend!"
Hi,

I was very worried about the vue-socket.io as it seems to unmaintained. And you come for the rescue. Thanks a lot for this.

In my project, I'm using node.js for backend API running at `localhost:3000` and Vue for frontend running at `localhost:8080`. I have added the basic socket code to print console on connecting. But it's not working.

Below is my code

Node backend: `app.js`
[code]

and

[2018-05-17 10:08] probil commented on #65
You are welcome, @harishankards. I'm glad to help :)

About your question, I think this line is not correct:
[code]
In docs, `http://socketserver.com:1923` is used just to show the main idea and you should replace it with the actual address of your socket server. So, replace it with:
[code]
And it should work.

Let me know if that helped you.

[2018-05-17 10:42] harishankards commented on #65
That worked. Thanks @probil

[2018-05-17 10:42] #65 closed

[2018-05-17 11:34] harishankards opened #67 "Backend not firing any event to frontend, though in connected state"
Hi,

I'm using the same code as in #65.  After solving that issue in 65, my frontend says, it's connected(identified using the console).

But, in my backend, the connect action is not working. Also, it's not listening to any function from the frontend.

What am I doing wrong?

`Backend`
[code]

`Frontend`

[code]

[2018-05-17 11:48] probil commented on #67
Let's check, @harishankards
Is there any errors in browser or/and node console?

[2018-05-17 12:15] harishankards commented on #67
No errors on both side @probil.

Yes, the `An user connected` is not displayed in the backend console

[2018-05-17 12:29] harishankards commented on #67
@probil, After I start and stop the backend server every time, I get this printed to the server console everytime:
`GET /socket.io/?EIO=3&transport=polling&t=MDk4cfm 404 25.094 ms - 149`

[2018-05-17 13:35] probil commented on #67
It's hard to guess what's wrong :thinking: . Could you please provide whole server file & client file? For example as [gist](https://gist.github.com/)?
As alternative I here is [simple echo server](https://gist.github.com/probil/907048d2cf6b4a6620aeaf2563581661) I use while testing `vue-socket.io-extended`. Basically it accepts events from the client and sends it back with the same data.

[2018-05-17 13:57] harishankards commented on #67
@probil,

I see there are a lot of variations in the backend app.js file:

**Mine:**
[code]
 **Yours:**
[code]

Should I replicate yours?

[2018-05-17 14:12] probil commented on #67
Hmmm. Try to replace only this line
[code]
There is official guide: [Using  `socket.io`  with express](https://socket.io/docs/#using-with-express-3/4)

[2018-05-17 14:32] harishankards commented on #67
@probil, Just in case, I have put out the gist here: https://gist.github.com/harishankards/82c8d103381df5c6f79af15bca8392e0

[2018-05-17 14:57] probil commented on #67
Ok, I will check and respond soon

[2018-05-17 15:37] harishankards commented on #67
Okay @probil

[2018-05-17 15:55] probil commented on #67
You code was not working out-of-the-box
So I've added missing dependencies + removed vuex/vue-router + added stub for `App` component.
Server stopped right after starting.

So I've added port listener on back-end and `emit_event` on the front-end:
_voilà_
![screen shot](https://i.imgur.com/VxXPnDT.png)

Steps:
1. Start the server
2. Open `http://localhost:8080` (vue-cli default port)

Gist is ther

[2018-05-17 15:58] probil commented on #67
Port should be the same here
[code]

[2018-05-17 23:06] harishankards commented on #67
@probil, I understand and tried out there yesterday itself.
`server.listen(3000);` Brings me an error on the backend console:

[code]

Also, in my frontend main.js:
I have everything same to your code except,
[code]

[2018-05-18 00:03] probil commented on #67
The idea behind all of this is to reuse one `http` connection on one port between `express` and `socket.io`. That's why we pass http instance and express server around:
https://gist.github.com/probil/5fd6433b0e58b8b1ebd9ee2f7a429369#file-backend-js-L3
Maybe this will be helpful https://stackoverflow.com/q/12235406/2329774

---

It's clear to me that issue is related to `socket.io` + `express` serv

[2018-05-18 00:03] #67 closed

[2018-05-18 01:27] harishankards commented on #67
Hey @probil,

I completely agree with you. Will search through the socket.io and express forums. Anyway thanks for your time and help.

Really appreciate it! Have a good day, you too!

[2018-05-18 06:59] harishankards commented on #67
Hey @probil,

Fixed it myself.
The solution at backend: https://gist.github.com/harishankards/82c8d103381df5c6f79af15bca8392e0#file-backend-solution-js

[2018-05-18 10:12] probil commented on #67
Thanks great, @harishankards :tada:

[2018-05-21 12:36] harishankards opened #71 "How to receive/emit to a particular user?"
Hi @probil,

Hope you are doing good. Now, I have a use case for having a pushing notification to the particular user and also in future I might implement chat system.

In that case, I would have to emit/receive data to a particular user right. How would I achieve it with the package? If you could throw me some docs or examples, would be useful.

[2018-05-21 23:56] probil commented on #71
Basically, it's not the client library job to deliver data to the particular user. The server should do that. All clients connected to socket.io have unique ids so the server could identify them.
There is also a method on the server that allows sending events directly to the connected user by his id. Simplified flow:

=> client emits event  (e.g. `{ message: 'Hi there', forUser: 15 }`)
=> server v

[2018-05-23 07:20] renovate[bot] opened #72 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2018-05-26 13:47] probil commented on #71
I have to close your question because it's not actully issue or bug or feature request. It's not even directly related to `vue-socket.io-extended`.
Let's continue discussion in [gitter chat](https://gitter.im/vue-socket-io-extended/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link).
Please create new issue if you have any other questions :) I will be glad to help you :handshake:

[2018-05-26 13:47] #71 closed

[2018-05-26 13:49] probil commented on #52
PR is welcome if someone can provide valid typings. I don't have much time for that right now

[2018-05-27 13:13] probil commented on #25
Implemented in `v3.0.0`

[2018-05-27 13:13] #25 closed

[2018-06-02 05:39] jhpratt opened #81 "Socket.io namespace support"
The only other library (vue-websocket) that claims to have websocket support I can't get to work.

Adding this feature would be awesome, though I imagine it wouldn't be trivial.

[2018-06-11 07:59] etcogit opened #89 "ESLint requires Vuex actions to be "camelcased""
Hi,

I use EsLint to lint my code. EsLint requires actions to be "camelcased" but vue-socket.io(-extend) does not respect this requirement... How could I fix that?
SERVER:
[code]
ACTIONS:
[code]

[2018-06-11 10:11] probil commented on #89
Hi, @etcogit. Thanks for your issue. :+1:
There are at least two ways how it can be achieved:
1) **Configure eslint to ignore `socket_` prefixes.**

I don't know what rules or code style guide you are using so I can't provide you eslint config right now. But you can try to investigate eslint docs by yourself. There should be an ability to add exceptions to the rule. Or provide me eslint log & conf

[2018-06-12 00:15] etcogit commented on #89
Hi,

Thanks for reply.
I searched EsLint doc to reach your first solution but didn't find. Instead I saw we can "disable" a linting rule on a portion of code like this:
[code]
It worked perfectly.
So I didn't try the second way you proposed.

Thanks a lot

[2018-06-12 07:31] probil commented on #89
Great, @etcogit . I consider the issue as solved and close. Let me know if you have any other issues. I will be glad to help :handshake:
Have a nice day :)

[2018-06-12 07:31] #89 closed

[2018-06-13 23:33] etcogit opened #91 "Accessing this.$socket from Vuex actions"
Hi,

In my project's folder structure I splitted my Vuex actions (and also mutations, getters and state) into separate files, like suggested [here](https://quasar-framework.org/guide/app-vuex-store.html#Adding-a-Vuex-Module).

Here is an example of an action.js file:
[code]

How can I access to the $socket instance from within my action ?

I tried
[code]
and like suggested [in this post](https://g

[2018-06-14 09:30] probil commented on #91
Hi, @etcogit :hand:
I'm glad to see an issue from you again.

Currently there few approaches.
1) **Put socket.io instance to the separate file** and import it in your actions or any other place of your app. For example:

[code]

[code]

[code]
2. **You common function for actions instead of arrow function**. Because `this` in arrow function is not what we actually need. Vuex can't bind vuex module

[2018-06-19 17:22] KingKnecht opened #94 "Q: Message not caught"
Hi,
I have following mutations:

[code]
if I send a message from server to my client like so:
`socket.emit('USER_MESSAGE', 'Logged in successfully')`

the message gets not caught. But I can see the message in the WS-Debugger window.
I'm I wrong here? My understanding is, that the message should be caught.

I'm able to send messages via `Login()` mutation to the server.

I don't get a `SOCKET_CONNE

[2018-06-19 19:20] KingKnecht commented on #94
I messed up something with my imports and was able to fix it with help of #91

[2018-06-19 19:20] #94 closed

[2018-06-20 19:09] probil commented on #91
Closing because of inactivity

[2018-06-20 19:09] #91 closed

[2018-06-28 11:30] Prinkesh opened #105 "Messages not received by application (Callback function not called for the event but websockets frames are received on the network )"
[code]

[2018-06-28 15:38] giodegio commented on #105
I had the same problem, and the solution is to initialize VueSocketio in the following way:
(a little bit different from the original VueSocketio library)

  Vue.use(VueSocketio, SocketInstance, {store}); // ==> the third parameter "options" is an object!

As you can see in src/Main.js, line 12, the options are passed to the observer object:
const observer = new Observer(socket, options);

Then lo

[2018-06-28 18:59] probil commented on #105
@Prinkesh thanks for your issue.
I will try to reproduce it locally and will respond you soon. :)

[2018-06-28 22:43] ezimmert opened #106 "Use with a reverse proxy"
I try to use vue-socket.io-extended behind a nginx reverse proxy but I always end with a 502 error.
With socket.io I used the "path" option. Is it also available on vue-socket.io-extended ?
For instance: `Vue.use(VueSocketIO, io('http://192.168.1.1', {path: '/ws'}), { store })`

Thanks for your help

[2018-06-29 07:33] probil commented on #106
Hi, @ezimmert
Thanks for your issue.
Yes,`path` is also available here. You can pass any available options to socket.io constructor. Full list of such options you can find [here](https://socket.io/docs/client-api/). E.g. this should work:

[code]
Also you can use it this way so it feels close to official socket.io docs:
[code]

Probably something wrong with nginx configuration :thinking:
Let me kn

[2018-06-29 12:39] Prinkesh commented on #105
My bad there was some issue with the data i was sending to the client some of the json key value was `nan` . With bunched packets the probability of a frame having such values increased and the socket-io lib was unable to parse the message hence no data was seen by client

[2018-06-29 12:39] #105 closed

[2018-06-29 13:45] probil commented on #105
Ok. Thanks for your response. Let me know if you have any other issues. Have a nice day :)

[2018-07-03 07:55] harishankards opened #108 "Client could not reach server in production"
Hey @probil,
Hope you are doing good.

This is my code which helped me to run the app locally: https://github.com/probil/vue-socket.io-extended/issues/67#issuecomment-390113821
When I have successfully deployed to the server, I changed the URL from `localhost:3000` to `mydomain.com`, it throws an error as below. What should I do more?

`GET http://localhost:3000/socket.io/?EIO=3&transport=polling&

[2018-07-03 09:10] probil commented on #108
Hey @harishankards
Nice to see you again :)

It seems like you have to change this line as well:
[code]
Also, make sure server deployed correctly to the domain, don't forget to open port 3000 to the world or setup port redirection

[2018-07-04 01:22] mateuszlewko commented on #81
@probil Here is pull request which implements this feature: https://github.com/MetinSeylan/Vue-Socket.io/pull/98
I hope this helps.

[2018-07-04 06:51] harishankards commented on #108
@probil :)

Thanks for the response. It was my mistake, later I noticed that I gave the wrong domain. Still I dint give like `Vue.use(VueSocketio, io('http://mydomain.com:3000'))`. I didn't mention the port. But it's connected, as it says via console.

But after it's connected, it's throwing this error:
[code]

[2018-07-04 09:01] probil commented on #81
Thanks @mateuszlewko . I will check it out

[2018-07-05 15:01] settenke opened #110 "The message is not received, when server emitted"
Hi!

My problem is:
I have a Vuex application with store and i have a simple socketio server.
If the server receives a message, it will broadcast it. The server logs that this has happened, the client does not received it.

SERVER:
[code]

FRONTEND:

main.js
[code]

store/index.js
[code]

+1 event listener in a component:
[code]

What could be the problem?
THX!

[2018-07-05 17:44] probil commented on #110
Hi, @settenke Thanks for your issue. I will investigate your code and will respond you soon :)

[2018-07-05 17:46] probil commented on #106
Closed due to inactivity.

[2018-07-05 17:46] #106 closed

[2018-07-06 07:46] settenke commented on #110
Hi @probil !
Thanks for the quick response! There is so much information that it is running a socket.io server in a docker container. Although this in principle does not matter... From another container, the tooth is the answer and you emit it (docker compose). First, the Vuex app was in a docker container, but because of the sockjs connection error (trying connect the public network ip and --host

[2018-07-06 12:32] KonstantinKudelko opened #111 "How to use `sockets` property?"

[2018-07-06 12:36] KonstantinKudelko opened #112 "How to use "sockets" property?"
@probil thx for extension version for VueSocket.io and great support!
I want to know how `sockets` property really works?

I use library like that for handle events:
`this.$socket.on(event, data => {})`

I think like `sockets` property do the same, my event is dynamic variable and depends on `id`

How I can use `sockets` property in that case?

[2018-07-06 12:36] #111 closed

[2018-07-06 22:09] probil commented on #112
Hi, @KonstantinKudelko
Thanks for your question.

#### You can use dynamic socket listeners for that
[code]

Probably you'd need to destroy listener (to prevent memory leaks, etc) in this case you need to store calculated event name somewhere. There simplest way is to put it inside `computed` property, as alternative you can store it in `data` as well:

[code]
FYI: I don't know your particular cas

[2018-07-06 22:50] probil commented on #110
Hi again, @settenke

I've found the issue. You are using old syntax for store registration from v2.X but you are using v3 of the library. Please, check [release note for v3](https://github.com/probil/vue-socket.io-extended/releases/tag/v3.0.0)

In short, you need to add brackets:

[code]

[2018-07-06 23:00] probil commented on #110
Also I have [working example here](https://fex.net/153486487299?fileId=580602992), both dynamic listener and store mutations are executed on server event

1) extract archive
2) run `npm install` in the root folder
3) run `npm i` in the `<root>/client` folder
4) run `npm run start` in the root folder to start the server
5) run `npm run serve` in the `<root>/client` folder to serve vue app
6) Open t

[2018-07-06 23:01] probil commented on #110
Let me know if you have any other issues @settenke . Have a great day :wave:

[2018-07-06 23:06] probil commented on #108
Could you please provide whole listing of your files server + client?

[2018-07-09 07:35] settenke commented on #110
Dear @probil !
Unfortunately, something is still not good. If another browser sends the message, the socket server will accept it, but it will not arrive to the first browser.
My data flow plan:

```Backend server -> [msg] -> Socket server -> [msg] -> Browser```

Thx

[2018-07-09 07:57] settenke commented on #110
Dear @probil !
I found the fault. I use wrong emitting method, if I will be changed to broadcasting, its working...

SocketServer
[code]

Sorry, my fault

[2018-07-09 18:37] probil commented on #110
Thanks for update @settenke
So, problem is solved, right? I'd like to close the issue

[2018-07-09 18:56] #110 closed

[2018-07-10 06:46] busheezy opened #114 "How to prevent connection until authed?"
I have a home page where I'm not using sockets at all. I'm using this with Vuex. Is there a way to prevent the socket from trying to connect on my home page or until it at least has the auth info in my store? There might be something obvious, it's late.

[2018-07-10 08:02] harishankards commented on #108
By `whole listing of your files`, do you mean the list of names of files in a hierarchial structure?

[2018-07-11 09:06] KonstantinKudelko commented on #112
Thx, for your help, for example I have two `$socket` handlers in our file to listen different events, and every time I need to check if socket not undefined, so my question how I can avoid that?

[code]
how I can do that in one place?

[2018-07-11 21:13] busheezy commented on #114
I was tired. I just disabled auto connections and connected the sockets manually.

[2018-07-16 23:03] probil commented on #112
I don't understand why you need to check is `this.$socket` is defined.
Maybe you can show some part of your code so it will be easier for me to help you?

[2018-07-16 23:17] probil commented on #108
There is status 400, it means an error. So it's not actually connected.
[code]
By 'whole listing of your files' I mean the whole code that can help figure out an issue.
In any case, the issue clearly lies in the server/socket.io configuration and your understanding of how both works.

I think we should continue this discussion in Gitter

[2018-07-16 23:17] #108 closed

[2018-07-16 23:30] busheezy commented on #114
Thanks for everything.

[2018-07-16 23:33] #114 closed

[2018-07-17 08:59] Christilut opened #117 "Reactive connected property"
Hey, thanks for this plugin. Works great and the upgrade from `vue-socket.io` was much needed.

I've noticed that the `$socket.connected` and `$socket.disconnected`` properties are not reactive. Any way to do this or can I request this feature? :)

Thanks

[2018-07-17 09:53] probil commented on #117
Hi, @Christilut and thanks for your issue. :+1:

`this.$socket.connected` is actually the same as `socket.connected`. I mean, `this.$socket` is just socket.io client instance attached to the Vue. It's not part of the Vue and doesn't use Vue's reactivity system but you have full access to socket.io client and can do everything on it.

But in general it seems like a good suggestion. :thinking:

Curr

[2018-07-17 09:55] harishankards commented on #108
cool buddy. We will continue the discussion there!

[2018-07-17 10:00] probil commented on #52
@andreagottsponer I'm not good at TypeScript and I need you suggestion.
Will it work if I create this file inside root directory of `vue-socket.io-extended` project?
Maybe it should be called `index.d.ts`?
Do I need to add everything to `package.json`?

[2018-07-17 10:05] Christilut commented on #117
I think that works but it seems like its simpler if the $socket.connected (or maybe something else if these properties are directly from the socket) would be reactive. Because in any component you could simply say `v-if="$socket.connected"` without any extra code.

And since it is Vue, I kind of expect plugins to be reactive, that's the great part of Vue! :smile:

[2018-07-17 15:45] KonstantinKudelko commented on #112
Yeah, for example:

In main vue instance I have statement for install vue-socket-io:

[code]

And I have file components `.vue`, and there I use `this.$socket` variable to access my sockets, and there I need to do check statement if we have this sockets like:

[code]

and that statement I have multiple times, so how I can do check statement more generic?

thx

[2018-07-19 07:47] KonstantinKudelko commented on #112
Yes, as far as I understand I need to check whether the socket connection, so I do the checking

[2018-07-23 11:00] probil commented on #117
I like the idea and I think we can implement it but with little API change
- `this.$socket` - should be and object with different plugin configuration
- `this.$socket.connected` - reactive property that indicates connection status, allows to write this in template `v-if="$socket.connected"`
- `this.$socket.client` - instance of socket.io client, e.g. to emit an event we need to call it this way `t

[2018-07-23 11:19] probil commented on #112
No, you don't have to.
You can define socket.io listeners even though there is no connection right now (unlike when you use socket.io client directly). It will work because events are not actually attached to the socket.io client directly. This plugin uses only one event interceptor that behaves like a spy. When an event is fired by the server, the plugin takes event data from spy and calls all re

[2018-07-25 07:39] Christilut commented on #117
Sounds perfect :+1:

[2018-07-25 14:31] Divine1 opened #129 "not able to communicate from vuejs to nodejs"
i'm able to receive emitted data from nodejs to vuejs via mutators.

how to emit data from vuejs to nodejs?
Please let me know. i'm not able to find any docs related to this.

[2018-07-25 14:36] Divine1 commented on #129
sorry. i had brain freeze.

[2018-07-25 15:34] Divine1 commented on #129
updated the query what i wanted to ask in the previous comment. kindly check it.

[2018-07-25 22:16] probil commented on #129
Good question, thanks @Divine1 :+1:

Currently there is no super convenient way to do so. I suggest you to store socket io client instance in the separate file and import it when you need it (in vuex store module, service, or whatever).

[code]

I'm currently looking for a good and convenient way, like so:
[code]
:thinking: but there some restrictions so it's hard to implement it

[2018-07-26 06:57] Divine1 commented on #129
this one helps :)

[code]

[2018-07-26 06:57] #129 closed

[2018-07-27 14:46] KonstantinKudelko commented on #112
Thx, so much

[2018-07-27 14:46] #112 closed

[2018-07-29 15:36] etcogit opened #132 "watching $route to trigger $socket.emit fires error"
Hi,
I need help because I cant't find answers on the internet...
I'm trying to synchronize 2 clients via sockets. So when client A changes $route (e.g clicking on a menu that changes the $route), it should trigger a $socket call to client B. But when I'm calling socket it turns into error.

Here's my watcher in my component:
[code]
Here's the error
[code]
If instead of calling ```$socket.emit``` I

[2018-07-31 13:08] etcogit commented on #132
Hi, sorry for this post... I finally find the problem.
My problem was due to the content of the object that was passed as argument to the ```$socket.emit()``` function.
I cleaned the content of the object and it works fine.

Issue can be closed.

[2018-07-31 13:08] #132 closed

[2018-08-13 19:57] deejbee opened #145 "SOCKET_CONNECT or any other event doesn't fire"
The socket has been connected on the server but the SOCKET_CONNECT in my store.js is not firing.  Copied example from docs.  In fact it doesn't fire the connect or any other events.  Connected event does fire on server. I tried adding the code to the main.js too but that doesn't work.  At a loss.

main.js
[code]

store.js:
[code]

[2018-08-13 20:11] deejbee commented on #145
Wellll, I think I've figured it out.

My API URL was set to `'http://localhost:1234/api/v1/`  and apparently that's not valid.

[2018-08-14 07:46] probil commented on #145
Hi, @deejbee
Thanks for your issue. It seems like we can close it, right ?

[2018-08-16 00:02] #145 closed

[2018-09-01 20:39] probil commented on #114
Yeah, I think it's a good idea, @ALiangLiang
Thanks

[2018-09-13 01:38] pouu69 opened #160 "How can i use multiple namespace without vuex store?"
I want multiple namespace on socket.io

but i can't find multiple namespace config

so can i use it without vuex store?

[2018-09-13 08:02] probil commented on #160
Hi, @pouu69

Socket.io namespaces are not currently supported neither with Vuex store nor without.

Feature request here #81

[2018-09-13 08:05] probil commented on #160
Upvote feature request for quicker delivery

[2018-09-13 08:05] #160 closed

[2018-09-24 10:22] KonstantinKudelko opened #169 "Access to "global" socket connection"
Thx for your library, if it's possible to have connection with socket, which I've registered as "global" through not `Vue`  code, so if it's possible to have access to socket which I've registered not through your library?

Thx

[2018-10-09 11:55] probil commented on #169
Hi, @KonstantinKudelko
Nice to see you again 👍

Use can pass any instance of the socket to the plugin. Both listeners will work.
[code]

[2018-10-13 09:25] z3to opened #182 "Usage with Nuxt"
Thanks so much for the library! It looks very promising. Unfortunately, I can’t get this running with Nuxt. This is what my store looks like:

[code]

Whenever I open the website it crashes with this message:
[code]

I’m not sure if that is connected in any way, but I would be grateful for any help.

EDIT: It does work without the store inside a component.

[2018-10-15 20:53] probil commented on #182
Hi, @z3to
Thanks for your feedback.

There is no support for `Nuxt.js` yet. But I'd like to have it. I will investigate your issue soon. :sunglasses:

Contribution is welcome. If you have any ideas how it can be fixed I will be glad to review & merge it.

[2018-10-18 07:30] #169 closed

[2018-10-21 06:29] takielias opened #185 "Always Got Triggered Mutation."
Hi, I have been trying to fixing this issue for 2 days. It always Triggers Mutation but not actions.

`import Vue from 'vue'
import Vuex from 'vuex'

Vue.use(Vuex);

const roommsgs = {
  state: {
    roommsgs: []
  },
  mutations: {
    SOCKET_CONNECT(state, status) {},
    SOCKET_ROOMCHAT(state, roomchat) {
      state.roommsgs.push(roomchat);
    }
  },
  actions: {
    socket_roomChat: async ({

[2018-10-21 16:45] probil commented on #185
Hi, @takielias

Could you please provide me the name of the event you trigger on the server?
Also it would be nice to have:
- Vue.js version
- Socket.io version on client
- Socket.io version on the server
- vue-socket.io-extended version

Thanks for your issue!

[2018-10-22 03:41] takielias commented on #185
Vue.js : 3.0.5
Socket.io version on client : 2.1.1
Socket.io version on the server : 2.1.1
vue-socket.io-extended : 3.1.0

The event is  roomchat. But It always gets Triggered Mutation First but not actions.

[2018-10-22 03:45] takielias commented on #185
Vue.js : 3.0.5
Socket.io version on client : 2.1.1
Socket.io version on the server : 2.1.1
vue-socket.io-extended version : 3.1.0

The event name is roomchat. It always Triggers Mutation First but not actions.

[2018-10-22 10:55] probil commented on #185
the correct name for actions is `socket_roomchat`.

By default library camelcase the event name and adds it to `socket_`. Here is an example how you can find the correct action name
https://runkit.com/embed/hdq4k5g9nn68

If you want `socket_roomChat` action to be triggered you should rename server event to `roomChat` or `RoomChat` so camelcased version will be `roomChat`

[2018-10-22 11:52] takielias commented on #185
This is socket event
[code]

And this is the store

[code]
And this is what I get always.
[https://imgur.com/a/1EUKFq0](https://imgur.com/a/1EUKFq0)

Mutation was triggered first. Is there anything wrong? I can't figure it.

[2018-10-22 15:13] probil commented on #185
Ok, it seems like I understand the problem now
`vue-socket.io-extended` uses conventions to call action and mutations automatically. So, when event arrives, the library checks for existing mutation in the store by convention (`SOCKET_<EVENT_NAME_IN_UPPER_CASE>`) and commits it.
The same for actions but convention is different. (`socket_<eventInCamelCase`)

So, for your code when server triggers `r

[2018-10-23 21:44] SamuelTremain opened #186 "Data does not flow through the web socket until I refresh the page"
I don't think this is a bug with vue-socket.io-extended, but I wanted to post this question in case someone has run into a similar problem and can possibly help me.

I am trying to use web sockets with a chart that displays live time series data. The chart posts a new data point every second and I have logs that display the information for each data point in both the server-side terminal and the b

[2018-10-24 19:15] takielias opened #188 "How To Send Auth Token In every request?"
I want to use JWT token for Authentication. Actually I'm looking for [this](https://github.com/MetinSeylan/Vue-Socket.io/issues/65). Is there any way of getting this?

[2018-10-25 13:06] probil commented on #186
@SamuelTremain
Interesting. Could you please provide minimal reproducible example? I'd like to take a look. I'm not sure someone will help you without some actual code.

[2018-10-26 11:13] clementdevos opened #189 "This library doesn't merge it's property with a parent mixin"
Hey There!

Shouldn't this library merge it's socket object with a potential mixin-defined sockets object?
If i want to factorise code between two components recieving the same events, but also specific ones,  i can't put that in a mixin as of for now.

When i console.log `this.$options.sockets`, it only contains the callbacks of the child component, not the mixin.

Here's a sandbox to reproduce

[2018-10-26 14:45] clementdevos commented on #189
A possible workaround is to use the dynamic socket event listener but that's not ideal

https://github.com/probil/vue-socket.io-extended#dynamic-socket-event-listeners

[2018-10-30 17:43] SamuelTremain commented on #186
@probil
I found a solution. If I run into more problems I will let you know. Thank you for responding.

[2018-10-30 17:43] #186 closed

[2018-10-31 07:34] Nocturem commented on #81
has there been any progress on supporting multiple socket namespaces?

[2018-11-08 23:19] kadko opened #201 "question about emit"
augmentMethod(Socket, 'onevent', (packet) => {
      const [eventName, ...args] = packet.data;
      GlobalEmitter.emit(eventName, ...args);
      passToStore(eventName, args);
    });

Socket.onevent function already have emit call (`emit.apply(...)`)
Above `augmentMethod` function you call emit again. I confused about this. Can you clarify

[2018-11-09 07:44] ll931217 commented on #182
Hey @z3to, I got mine to work on `Nuxt.js`. This is how I did it:
### 1. Create a plugin
[code]
### 2. Add it to your `nuxt.config.js` file
[code]
### 3. Setup your server just like a normal socket.io web app.

[2018-11-09 11:56] probil commented on #182
Thanks @ll931217
I will add that to the README

[2018-11-09 12:17] probil commented on #201
Hi, @kadko
Nice to see issues from you 👋

The problem is that there is no way in `socket.io` to listen for all events like this:
[code]
So we have to replace original method (`Socket.onevent`) with a new method that calls original one + callback function. We have to call original method call to keep existing socket.io listeners working.

The `augmentMethod` uses [monkey patching](http://me.dt.in.t

[2018-11-09 12:31] kadko commented on #201
Then all events emitted twice, an same event callback function runs twice isnt it?

[2018-11-10 01:16] kadko commented on #201
ok I got it after reading code again

[2018-11-10 01:16] #201 closed

[2018-11-10 10:12] probil commented on #201
Nice to see. Feel free to any other questions :)

[2018-11-10 10:15] probil commented on #189
Interesting question, @clementdevos  :thinking:
Could you please prove me some PoC/example so it would be easier for me to investigate?

[2018-11-20 14:33] mornir commented on #189
Hi! I've just run in the same issue. I have two components with similar socket events. So I created a Vue mixin to regroup the shared events. But the socket object is not getting merged as the other Vue properties do.

[2018-11-20 14:58] probil commented on #189
@mornir Could you please provide simple example here https://codesandbox.io/
So I would have some starting point to fix it?

[2018-11-28 21:55] TotomInc commented on #52
There have been a lot of work done in the commit f7312d31e7ffb0d24630529d6af9756c3b171215. I've tested the branch locally and it works fine beside a few tweaks needed (I've explained everything in the commit).

[2018-11-30 15:40] clementdevos commented on #189
Hi sorry for the long reply time,

Here's a sandbox to reproduce

https://codesandbox.io/s/lrmk8m5lmq

Also, the workaround doesn't work in IE11, we ended up merging the two objects before assigning them to the `sockets ` property of the components...

Cheers,

Clément

[2018-11-30 23:30] probil commented on #189
@clementdevos Thanks :smiley_cat:
The sandbox you've provided is pretty helpful. I'm going to spend some time during this weekend on the investigation

[2018-12-01 05:15] probil commented on #189
We need to define custom merging strategy for the `sockes` property as described here
https://vuejs.org/v2/guide/mixins.html#Custom-Option-Merge-Strategies

@clementdevos You can use this approach directly in your `app.js` until new release
[code]

[2018-12-01 22:05] #52 closed

[2018-12-01 22:13] #189 closed

[2018-12-02 11:39] probil commented on #182
Added to the [documentation](https://github.com/probil/vue-socket.io-extended#mountain_bicyclist-usage-with-nuxtjs)

[2018-12-02 11:39] #182 closed

[2018-12-02 14:10] xuejiangjun commented on #114
I use options like this

not

documentation https://socket.io/docs/client-api/#io-url-options
sorry my English not good

[2018-12-03 08:36] clementdevos commented on #189
Thanks !

[2018-12-05 15:30] xino1010 commented on #91
Thanks @probil

[2018-12-08 11:34] kamalptw commented on #110
@probil After a few hours of searching I was able to solve this using the {store} syntax you suggested.
Thank you

[2018-12-19 09:05] CIB opened #226 "Connect event isn't sent to component"
I have included Vue-socket.io with the following code:

[code]

And in my single-file component, I use the following to listen to a connected event:

[code]

Unfortunately, while my socket.io-client instance itself does trigger a `connect` event (`A` is printed), the code in the component is not triggered (`B` is not printed). Any clue as to what I may be doing wrong here?

[2018-12-19 12:10] probil commented on #226
Hi, @CIB

I'm not sure what's wrong. Can you tell me how do you use this SFC? Do you use code splitting?
Is that component located on the page that's not rendered during initial load (sub-pages)

Thanks for you issue 😺

[2018-12-21 12:07] probil commented on #226
I mean if component is used **after** connection was established, `connect` event is not fired.

[2018-12-25 19:42] LaKing commented on #114
@xuejiangjun is right.

Only the options should be in curly braces.

[2018-12-25 21:38] probil commented on #114
Updated original answer. Thanks @xuejiangjun for notice and @LaKing for check.
Added to [FAQ](https://github.com/probil/vue-socket.io-extended#question-faq)

[2018-12-25 21:55] probil commented on #188
@takielias There is 2 ways how you can achieve that
1) Put it into the connection query or header as described [on stackoverflow](https://stackoverflow.com/questions/36788831/authenticating-socket-io-connections) or [on the link you have provided](https://github.com/MetinSeylan/Vue-Socket.io/issues/65#issuecomment-310886128). In this case server will prevent non-authenticated connection. It's gene

[2018-12-31 05:57] rstormsf commented on #188
@probil
here is the problem I'm facing.

server:
[code]

client side:

[code]

why the handshake is not visible in middleware, only `on connection` hook?

[2018-12-31 06:10] rstormsf commented on #188
Problem solved!!!

clientSide:
USE `this._vm.$socket.io.opts.query`  vs `this._vm.$socket.query`
this._vm.$socket.io.opts.query.netId = netId

[2018-12-31 17:11] #188 closed

[2018-12-31 19:31] probil commented on #226
Closing because of inactivity

[2018-12-31 19:31] #226 closed

[2019-01-04 06:33] hasbug opened #238 "something wrong with 3.2.0 for IOS 9.X"
Unknown error ，Maybe the code doesn't support it。
3.1.0 can work

[2019-01-04 09:15] #238 closed

[2019-01-10 08:47] henrytom1703 opened #245 "How can I use with multiple link socket server?"

[2019-01-21 15:53] barrymckay397 opened #253 "Syntax error in IE11"
There is an issue with the latest version (v3.2.0) in IE11. It seems as though the 'camelcase' module is no longer being transpiled correctly to ES5 (I'm seeing usages of 'fat arrows'). The previous version (v3.1.0) seems to be working just fine.

Thanks in advance!

[2019-01-21 19:16] probil commented on #253
Hi, @barrymckay397
Thanks for your issue and investigation. I will take a look soon

[2019-01-22 20:53] probil commented on #253
Fixed in `v3.2.1`
Thanks @barrymckay397

[2019-01-22 20:53] #253 closed

[2019-01-23 13:44] holwech opened #257 "Vuex module decorators and action functions"
Hi, I am trying to use `vue-socket.io-extended` with the [Vuex Module Decorators](https://github.com/championswimmer/vuex-module-decorators) library, with the following setup:

_store/DataStream.ts_
[code]
_store/store.ts_
[code]
_main.ts_
[code]

I have a web server emitting random numbers, and for the `mutation` function everything is working fine. The `socket_random` function outputs `Mutation

[2019-01-24 13:37] theskyliner opened #258 "Server Address via user input"
Hey there,

I want to develop a client in vue, where the user can input the server's address. So the server address is not available when vue is initialized. Is this even possible?

Thanks in advance!
Nick

[2019-01-29 06:49] ll931217 opened #261 "Connection in the local network"
Hello @probil,

I am wondering if I wrote this incorrectly but I can't get the socket to connect to my server. My server address is `http://0.0.0.0:3000` and this is the `socket.io.js` code I have:

    import Vue from 'vue'
    import io from 'socket.io-client'
    import VueSocketIO from 'vue-socket.io-extended'

    export default ({ store }) => {
      Vue.use(VueSocketIO, io("http://0.0.0.0:3

[2019-01-29 09:37] probil commented on #261
Hi @ll931217
Yes it should work. You can try `localhost` or `127.0.0.1`

[2019-01-30 01:04] ll931217 commented on #261
Hey @probil
I did try localhost, it doesn't connect to my server on the local network, only if I typed in the IP `192.168.0.217:3000` works.

[2019-02-06 17:06] codebender828 commented on #261
You could also try using `window.location.origin`. As in
[code]

[2019-02-06 21:49] probil commented on #261
@ll931217 `localhost` or `0.0.0.0` works only when server is on the same machine. Otherwise you should use server's IP or dns name

[2019-02-06 21:49] #261 closed

[2019-02-17 01:46] Dsafanyuk opened #277 "Cannot get events to trigger Vuex actions/mutations"
I am still sort of new to creating issues to github so i apologize.
I am getting a connection to the server, but any server-side emits are not being captured by vuex. They do show up in my browser console.

*** SOLVED ***
`Vue.use(VueSocketio, io('http://127.0.0.1:3000', {store}));`
vs
`Vue.use(VueSocketio, io('http://127.0.0.1:3000'), {store});`

![image](https://user-images.githubusercontent.com

[2019-02-17 02:17] #277 closed

[2019-03-04 02:11] djbaldey opened #291 "The sequence of arguments in the server message is broken"
We have a long running great app on Socket.io. And when we decided to move some of our clients to Vue.js faced such a problem.

server:

[code]

client:

[code]
But on reception the sequence of arguments is broken
[code]
Why spoiled the standard mechanism of Socket.io?

[2019-03-05 20:11] douira opened #295 "Clarification of README"
I think in the [README documentation](https://github.com/probil/vue-socket.io-extended#gear-configuration), it should be "_Prepend to event name while converting event to action._" instead of "_Append to event name while converting event to action._" in order to make it clear that the prefixes are in fact put before the mutation/action names and not after.

[2019-03-05 20:26] douira commented on #91
I've seen other WebSocket libraries solve this problem by putting the socket instance on the global Vue object something like this: `Vue.$socket`.
Is this still even a problem or is has this already been solved with something like `Vue.$socket`?

[2019-03-07 19:17] quietcoolwu commented on #91
@probil

[2019-03-07 20:32] douira commented on #91
You're not updating the `Authorization ` field here at all though. One the file has been run it will not change because the code doesn't seem to be wrapped in anything.

[2019-03-08 01:11] quietcoolwu commented on #91
@douira does that mean I cannot check the socket.io connection for auth on the serverside for all? My target is to check each client connection handshake from the headers.

[2019-03-08 09:36] douira commented on #91
You can, just you will need to use an event handler.

Sent from my iPhone

[2019-03-14 22:00] probil commented on #291
Hi, @djbaldey
The sequence of arguments is modified by purpose.
Since Vuex doesn't support multiple arguments [it's recommended to pass them by array of object](https://github.com/vuejs/vuex/issues/366#issuecomment-251746672)
So library automatically wraps multiple args to array when detected.

If it's important for you I can add possibility to re-define wrapping logic. So you will be able to pass

[2019-03-14 22:07] probil commented on #291
Example of possible implementation:
[code]

[2019-03-14 22:15] probil commented on #257
@holwech I don't use Vuex with *Vuex Module Decorators* so I don't know what may cause the issue.
This library acts like a proxy between socket.io and Vuex.
It might be just incompatible with some stuff internally done by Vuex Module Decorators

[2019-03-14 22:17] #295 closed

[2019-03-14 22:17] douira commented on #295
nice! thanks

[2019-03-14 22:24] probil commented on #245
Hi @henrytom1703
Thanks for your issue
It's not officially supported yet but you can try to use plugin multiple times with different prefixes and different servers.
I mean something like this:
[code]

And after that you can use them in your Vuex stores this way
[code]
In theory it should work. Let me know when you try it. I will be glad to add it to the README

[2019-03-14 22:26] probil commented on #81
Here is an idea how it can be done currently https://github.com/probil/vue-socket.io-extended/issues/245#issuecomment-473088995

[2019-03-14 22:26] probil commented on #295
Thank you @douira

[2019-03-14 22:29] probil commented on #245
Closed because it duplication of #81

[2019-03-14 22:29] #245 closed

[2019-03-14 22:32] probil commented on #258
@theskyliner You should investigate how to do it without `vue-socket.io-extended`
It's not supported by the library right now

[2019-03-14 22:32] #258 closed

[2019-03-14 22:33] probil commented on #257
Closing because of inactivity

[2019-03-14 22:33] #257 closed

[2019-03-15 21:37] gitavi commented on #81
#245 did not work for me. Note that I am using namespaced modules where each module corresponds to a socket.io namespace and I use a plugin to register each module with something like this:
[code]
I pass the `io.Socket` instance into the module creation function so it can be stored in the `state` and components corresponding to the socket.io namespace can `emit` directly to the socket.io namespace

[2019-03-18 19:24] brunopiaui opened #307 "Enable debug"
Hi,

How can I set debug enable on start config?

`import Vue from 'vue'
import VueSocketIO from 'vue-socket.io-extended'
import io from 'socket.io-client'

const socket = io('http://localhost:4000')

Vue.use(VueSocketIO, socket)`

Thanks

[2019-03-18 21:12] probil commented on #307
Hi, @brunopiaui
Which kind of debug do you mean?

Socket.io debug can be enabled by typing this line of code in DevTools console or directly in your code.

[code]

More info here: https://socket.io/docs/logging-and-debugging/

[2019-03-18 23:12] brunopiaui commented on #307
Hi @probil,
In MetinSeylan/Vue-Socket.io we can set that way:

[code]
Is there something similar??

I tried but returned an error..

[2019-03-18 23:35] probil commented on #307
We don't support such logging right now.
Can you tell me why it's useful? I will be glad to implement it

[2019-03-19 22:53] dustingraham commented on #117
I had not heard of this repository. I tried this code with `vue-socket.io` and was stumped that `SOCKET_CONNECT` was not firing. Found out that with `vue-socket.io` it is `SOCKET_connect` and `vue-socket.io-extended` it is `SOCKET_CONNECT`

Stumbled upon here on a google search for `vue-socket.io reactive` (top result), so it may help others if they're confused.

[2019-03-20 00:02] probil opened #310 "Full-featured examples"
It would be nice to have a demonstration of how library can be used.
By "full-featured example" I mean application that has both front-end and back-end part, user can interact with it interactively, check the code.

I think we should start with a simple example and move to more complex.
It seems like [`codesandbox`](https://codesandbox.io/) suits well for that but further investigation is needed.

[2019-03-24 18:42] quietcoolwu commented on #91
@probil @douira
could you gimme a specific example on how to use an event handler for token auth?

[2019-03-28 01:05] ll931217 opened #317 "Dynamic Socket.io IP after build time"
Hello,

So recently I created a [StackOverflow post](https://stackoverflow.com/questions/55349578/dynamic-address-for-socket-io-client) about the issue I am having. My socket.io URL is set during build time and I am somehow unable to change that. Do you know of a way where I can dynamically change the IP based on the current machine's IP? So lets say I am developing the app on `192.168.0.123` and

[2019-03-28 20:40] probil commented on #310
### Twitter stream

https://codesandbox.io/s/oxqpm54pnq?fontsize=14&module=%2Fsrc%2FApp.vue

[2019-03-28 20:44] probil commented on #310
<iframe width="560" height="315" src="https://www.youtube.com/embed/dHHmUF9gs70" frameborder="0" allowfullscreen></iframe>

[2019-04-01 08:24] #317 closed

[2019-04-13 10:51] GabrielLeonte opened #337 "emit from store"
Hello. I have something like this. How i can make this working?
[code]

[2019-04-13 16:45] #337 closed

[2019-04-20 17:10] mornir commented on #114
In my case, this works:
[code]
And this doesn't:
[code]
@probil In the article you referenced, the autoConnect property is indeed passed as the first argument: https://socket.io/docs/client-api/#socket-open

[2019-04-26 18:36] runegame commented on #81
I used the option presented in #245 but the truth is that it didn't work. Just listen to the events of the first socket. Already the second one is lost

[2019-04-26 22:28] probil commented on #81
@runegame @gitavi Thanks for your feedback
We need proper solution for that problem :)

[2019-05-01 11:53] probil commented on #310
### Echo server
[![Edit Vue socket.io echo server](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/vq1645r5o0?fontsize=14)

[2019-05-09 09:34] kyberg opened #350 "vuex disconnect"
With vuex, how can I call disconnect from a component?
[code]

[2019-05-09 11:09] probil commented on #350
Hi @kyberg
Thanks for your issue.

You can use this technique
https://github.com/probil/vue-socket.io-extended/issues/91#issuecomment-397232621

[2019-05-10 10:57] kyberg commented on #350
Thank you! This solved my issue:
`async userSignOut ({ commit }) {
      await commit('setUser', null)
      await this._vm.$socket.close()
      localStorage.removeItem('user-token')
      router.push('/login')
    }`

[2019-05-10 10:58] #350 closed

[2019-05-17 19:05] salsa2k commented on #114
Try:
      this.$socket.io.opts.query = {
        token: 'your-token-here'
      };

     this.$socket.open();

[2019-05-17 23:32] gitavi commented on #81
The other implementation added this recently: https://github.com/MetinSeylan/Vue-Socket.io/pull/207#

[2019-05-19 12:33] S1mpler opened #357 "Vue-socket.io-extended with Typescript"
I am using `vue-property-decorator` with typescript in my Vue application.
The only thing i'm missing is `@Socket`decorator. It would be really great if we can implement it. I could do it, but I would need your help :)

![image](https://user-images.githubusercontent.com/6653492/57982262-28f43000-7a43-11e9-814a-4213614cef18.png)

Слава Україні!

[2019-05-27 13:29] Thooto opened #365 "Use only in one component"
Hi,

I would need to initiate a socket.io connection only when a component is lazy loaded. (I have an admin section in my UI and I would like the socketio client to not be triggered upon app loading by regular users).

So I would need something equivalent to Vue.use(VueSocketIO) but only for the given component, so that I can still have the sockets: { ... } and this.$socket attributes.

Any idea o

[2019-05-27 14:09] probil commented on #365
Hi, @Thooto

Cool question. This behavior is not supported right now but I think I can add it.

The API may look like so:
[code]

What do you think about such approach?

[2019-05-27 14:14] Thooto commented on #365
I think that would suit the need perfectly ! (I actually tried something similar using mixins, but couldn't proceed to make it work haha)

Thanks for the super quick answer !

[2019-05-27 14:21] probil commented on #357
Hi @S1mpler

Great idea! Let's do it

I will be glad to help you to write `@Socket` decorator.

You can check this tutorial. It looks really easy
https://egghead.io/lessons/vue-js-create-your-own-decorators-in-vue-with-typescript

the basic idea is following
[code]
I'm looking forward to check your PR ;)

---
Героям Слава! 🇺🇦

[2019-05-27 14:23] probil commented on #365
@Thooto Yeah. Otherwise it will connect before mounting

[2019-06-01 18:17] stratosgear opened #369 "How to access to reply from a component's "this.$socket.emit""
Let me start by apologizing because this is not a bug but more of a question first (let's see if it is bug later on)

According to the socket.io specs the socket.io server can reply with a response to an event triggered by the client.

In your socket.io-extended  examples you already demonstrate how a Vue component can trigger a socketio event:

[code]

I'm not sure how I can capture that response

[2019-06-01 21:05] probil commented on #369
Hi @stratosgear

Since `this.$socket` is `socket.io-client` instance you can do with it [whatever you want](https://socket.io/docs/client-api/).
In your case, you can pass additional callback function to the `emit`:

[code]
See docs here https://socket.io/docs/client-api/#socket-emit-eventName-%E2%80%A6args-ack

Have a nice day :smile_cat:

[2019-06-01 21:07] #291 closed

[2019-06-02 09:30] stratosgear commented on #369
Hi @probil  you're the best.  No idea how I missed that from the socket.io docs.  These javascript callbacks always get me as their syntax is so completely weird.

Thanks, I'll be closing this now!

[2019-06-02 09:30] #369 closed

[2019-06-20 11:13] sandeeppsmys opened #384 "Error while using the library with Vuex in Quasar App"
Mutations are called when used with Store

My code looks like this..

[In App.vue]
[code]

My mutation is like this in my store's mutations
[code]

From the server, we are emitting ('message', data)
Please be noted that I am using Quasar and initializing it in App.vue. Works fine with components but not with Vuex store.

[2019-06-20 12:29] probil commented on #384
Hi @sandeeppsmys
your mutation should look like so
[code]

[2019-06-21 05:18] sandeeppsmys commented on #384
Thanks Probil for the quick response.

Yeah I tried that one too.. But not getting mutated on the store.

Here is my store

export default function (/* { ssrContext } */) {
  const Store = new Vuex.Store({
    modules: {
      notificationManager
    },
    state: {
    },
    mutations: {
      SOCKET_MESSAGE (state, data) {
        console.log('SOCKET_MESSAGE')
        console.log(data)
      }

[2019-06-21 11:01] probil commented on #384
Hi @sandeeppsmys

Are you using server side rendering?
Are you sure path to socket io client is correct and connection with BE server is established?
Is there any errors in console?

[2019-06-21 11:38] sandeeppsmys commented on #384
I am using Quasar Development Server locally.
Yeah socket connection is established and also it works fine within the component using sockets{}
No errors on the console. It is just not calling the mutation.

[2019-06-29 20:17] munderwoods commented on #365
Any word on this? I would love this behavior. Or, is there a way currently to have multiple chats in your app?

[2019-06-30 12:57] Thooto commented on #365
I ended up importing Vue in the component, making it use VueSocketIo, and exporting `Vue.extend({ ... })`:

[code]

Not sure if this is any kind of bad practice, as I didn't check yet if Vue gets loaded twice (making it a heavier app), or if it extends the main Vue module, and then making it possible to potentially use `this.$socket` in other components, or neither of these options.

I still would

[2019-07-01 16:59] munderwoods commented on #365
Thanks @Thooto
I was starting to go down this route, but second guessed it. How many instances are you working with now, and what's your performance looking like, if you don't mind me asking? I am anticipating having lots of connections so I'm going back and forth on it. Anyway, thanks again.

[2019-07-10 19:39] jonakirke94 opened #400 "Issue unsubscribing from event"
I'm dynamically subscribing to an event in my "Created" hook and attempting to unsubscribe in the "BeforeDestroyed" hook. Using the perscribed way in the docs I'm not able to remove the event resulting in the number of subscribtions to the event doubles every time i reload the component..

[code]

I tried doing "sockets.FAKE = null" which resolves the problem of multiple subscriptions but this doe

[2019-07-11 14:12] probil commented on #400
Hi @jonakirke94 👋
I will take a look. Thanks for your issue!

[2019-07-11 14:16] probil commented on #384
@sandeeppsmys Can you show me how do you trigger socket event on the server?

[2019-07-11 14:48] probil commented on #400
Wow. Good catch @jonakirke94 It's a bug!

I will fix and push a new version of the library soon

[2019-07-11 14:58] #400 closed

[2019-07-11 15:28] probil commented on #400
@jonakirke94
Fixed in `v3.2.2`. Please take a look!

[2019-07-18 09:48] sandeeppsmys commented on #384
Service is in python.. Following line emits the socket event.
**socketio.emit("delete_event", {"id": '12'})**
I can receive it on the UI. But it is not just directly calling the mutation..

[2019-07-19 10:21] Luluno01 commented on #357
I don't have enough time for creating a PR but here is my working version:

[code]

Note that the method being decorated should be retrieved via `option.methods`.

[2019-07-23 12:57] TakCastel opened #405 "GET http://localhost:3000/socket.io/?... 404 (Not Found)"
Hey i'm having some difficulties implementing this in my Nuxt application.

I followed the documentation as you can see below.

The file socket.io.js inside plugins
[code]
Implementation in nuxt.config.js

[code]

And then I have a vue page like this :

[code]
I keep having these messages in console :

<img width="809" alt="Capture d’écran 2019-07-23 à 14 55 54" src="https://user-images.githubus

[2019-07-23 14:22] probil commented on #405
HI @TakCastel
Thanks for your issue.

I guess you need socket.io server actually running on port 3000.

Please check official example from Nuxt core team
https://github.com/nuxt/nuxt.js/tree/dev/examples/with-sockets
Especially file `server.js`

[2019-07-26 13:14] probil commented on #357
@Luluno01 I will release it in the next version of the library. Thanks!

[2019-07-26 13:16] probil commented on #384
Then mutation should look like this:
[code]

[2019-07-26 13:18] probil commented on #384
@sandeeppsmys If it doesn't help, can you please create a repo with a minimal reproduction of the bug? I'd like to resolve it

[2019-07-28 16:32] capndave opened #406 "Add emit methods to documentation for vuex"
I spent quite a while the other day figuring out how to emit an event from the client using vuex, and finally found the explanation [here](https://github.com/MetinSeylan/Vue-Socket.io/issues/85). Would you like me to add something about it to the readme?

[2019-07-28 16:36] capndave commented on #310
I'm happy to help with this if you want. Is the API hosted somewhere? Let me know how I can contribute.

[2019-07-28 20:32] probil commented on #406
Hi @capndave :wave:
Thanks for your message

It's already there https://github.com/probil/vue-socket.io-extended/issues/91#issuecomment-397232621

![Screenshot from 2019-07-28 23-26-37](https://user-images.githubusercontent.com/6773202/62012487-9d5bf580-b18f-11e9-9505-68ce211c542c.png)

But I think, yeah, it's not clear enough :thinking:

[2019-07-29 13:34] badders commented on #384
Getting exactly the same issue, no socket mutation calls are working, but directly listending to the message on a component is fine

[2019-07-29 14:45] capndave commented on #406
I may try update the docs and submit a pr, if you're not opposed

On Sun, Jul 28, 2019, 3:32 PM Max Lyashuk <notifications@github.com> wrote:

[2019-07-29 15:02] probil commented on #406
@capndave I will be glad for any contribution. Thanks @capndave

[2019-07-29 15:05] probil commented on #384
Hi @badders
Sound strange 🤔

Can you please create a repo with bug reproduction? I will be a HUGE step ahead.
I will be glad to fix!

[2019-07-30 09:26] probil commented on #310
Hi, @capndave
Check existing example above. I've hosted API on codesandbox as well as client (frontend).

I will be glad to help you if you have any questions or idea.
I'm looking forward to checking your work

[2019-07-30 09:28] #405 closed

[2019-07-30 21:36] KodeStar opened #407 "v-for components reusing socket events"
I have a v-for list that loads in an SFC.
In the SFC i've tried using both `sockets:` and registering a listener with `this.$options.sockets` but neither work properly but in different ways.

In the first case I had:
[code]
This worked fine until I removed a component (you can add and remove the components at will), as soon as a component was removed you couldn't add any more (you could add them b

[2019-07-30 21:43] KodeStar commented on #407
In the server component I'm doing
[code]
On the `socket:` version I'm just using `socket.emit('consoleKey', {` as I wasn't sure how to register the event with a variable, so I sent it as part of the payload instead, but left it in the payload for the `this.$options.sockets` as well, just because I've changed it so many times

[2019-07-31 15:06] PROgram52bc opened #408 "Listener of a component inside router view"
I have a component like the following that listens for time sent from the server every second.
[code]
This component is rendered with a `<router-view>` component provided by `vue-router`.
It works on the first time switching to the component, like this.
![Screenshot from 2019-07-31 23-04-40](https://user-images.githubusercontent.com/18290763/62223550-b65ee380-b3e7-11e9-906f-625f19c4a37f.png)
but w

[2019-08-01 09:14] KodeStar commented on #407
I wonder if it has anything to do with reactivity?
When I click add a new component, it appends to a data object, that object has a v-for on it. So i'm wondering if the first time I add the object, the v-for loops through the object and adds the listener to item 1, I add a new component, the v-for loops through the items and adds a listener to item 1 and item 2, so now item 1 has 2 listeners on it

[2019-08-01 14:22] flamytwista commented on #307
**MetinSeylan/Vue-Socket.io** shows in debug what action/mutation in what vuex-module is triggered.
Sometimes this feature is very useful.

`localStorage.debug = '*'` and `localStorage.debug = 'socket.io-client:socket'` don't do it.

[2019-08-01 21:36] probil commented on #307
Thanks @flamytwista
I'll check it out.

BTW, add :+1: to the first message if you'd like to see a feature in future versions

[2019-08-01 23:17] probil commented on #407
Hi @KodeStar  :wave:

Why don't just use Vuex for that? It was designed for data organization in mind.
In this case you can listen for those events in one place.

BTW which version of the library you are using?

Thanks for your question

[2019-08-02 07:32] KodeStar commented on #407
@probil Thanks for your reply. I did start looking at trying to put it in a vuex store, can't remember why I abandoned it. I think it was because if this really was a bug and you took the time to fix it I wanted to be able to confirm the fix worked for you. I'll take another look at vuex though, thanks.

I'm using  vue-socket.io-extended@3.2.2

[2019-08-02 08:51] KodeStar commented on #384
@probil I think if you just install a base quasar build and select vuex during installation that will give you what you need https://quasar.dev/quasar-cli/cli-documentation/vuex-store

[2019-08-02 08:59] probil commented on #384
Thanks @KodeStar
It's helpful. To be honest I don't have any experience with quasar so I will take a look during upcoming weekend

[2019-08-02 09:05] probil commented on #408
Hi, @PROgram52bc 👋
I hope so. Let me investigate it.

If you have time please create a repo or sandbox with a reproduction of the issue
https://codesandbox.io/s/vue

BTW, which version of the library you are using?

[2019-08-02 09:09] KodeStar commented on #384
I think it may not like my store, I'm doing the following in router/index.js:
[code]
store/index.js looks like:
[code]
My store/terminals/mutations.js looks like:
[code]
I've also notice the following pop up in the console:
[code]

[2019-08-02 09:21] probil commented on #384
Wow 👍
It's definitely unexpected behaviour
I think there is a bug hiding somewhere 🐛

Thanks, @KodeStar pointing out. You are cool 😎

[2019-08-02 09:41] KodeStar commented on #384
No, that error was my fault, I downloaded the src and imported it manually so I could find out where that error was coming from. I should have done:
`import Store from '../store'` rather than `import store from '../store'` and then `Vue.use(VueSocketio, SocketInstance, { Store })` that clears up the error, now I can see the socket event firing inside the component with `sockets: {}` but still noth

[2019-08-02 10:07] PROgram52bc commented on #408
Hi @probil,
I am using `vue-socket.io-extended@3.2.2`.
I will try to recreate the problem for you!

[2019-08-02 10:16] KodeStar commented on #384
Ok, so it seems in Main.js there is:
`Observe(socket, options)`
if I `console.log(options)` I get:
![store](https://user-images.githubusercontent.com/5698566/62363086-561a8f80-b516-11e9-92e9-b8112db7e166.PNG)
Then in Observe.js I added a console.log after `export default (Socket, { store, ...otherOptions } = {}) => {'
like so:
[code]
and that returns undefined, which means the passToStore stuff ne

[2019-08-02 10:22] KodeStar commented on #384
[code]
I can see the events firing here, so it just never gets past the passToStore part as store is undefined

[2019-08-02 11:11] KodeStar commented on #384
Ok, I think it's because quasar uses modules rather than exposing its state/mutations/actions etc at the root level. If I create a new Vuex.store() just for this and pass that then the mutations get fired. Not ideal but will do for now I guess

[2019-08-02 11:30] probil commented on #384
@KodeStar in this example https://github.com/probil/vue-socket.io-extended/issues/384#issuecomment-517625228

1) Your `store.js` returns a function instead of store.
So you need to update it this way:
[code]
But keep in mind that you should use the same instance of store in both vue-socket.io-extended and main app entry point.

So it may look like so:

[code]

2) `vue-socket.io-extended` expect st

[2019-08-02 11:55] KodeStar commented on #384
And it's working :) I think all it needed was the `store: store()` If it's using the same instance I'm not 100% sure as there isn't actually an instance of `new Vue({` in the quasar app, I think that must be added when the app is built. I guess it must be though because `this.$store.state.terminals` returns the data being passed by the socket

[2019-08-02 12:49] PROgram52bc commented on #408
Hi @probil,

I tried creating a sample but ended up finding that very challenging, because it requires the collaboration of a constantly-running public backend server, which I do not have access to...
But I managed to tweak my code a little bit to use a plain `socket.io` instance that makes the connection on the component's `mounted` hook, and it worked even with route switching. The new component

[2019-08-02 12:50] probil commented on #384
That's a good news!

[2019-08-02 13:01] PROgram52bc commented on #408
Just a quick update. I added this line in my `main.js`:
[code]
just so that I have access to `this.$s` in my component, and added the listener in the `mounted` function of my previous component:
[code]
That still worked.
So I reason there is probably something to do with the `socket` option in the component, which should register the listeners every time the component is mounted.

[2019-08-02 13:25] probil commented on #408
Thanks @PROgram52bc
Basically `vue-socket.io-extended` has only one listener for all components and vuex modules.
I wonder why it's not working 🤔

BTW you don't have to setup everything on codesandbox. You can setup everything locally and give archive or push it as separate repo.

[2019-08-02 15:00] PROgram52bc commented on #408
Hi @probil,
I created a minimal example demonstrating the problem.
You can clone the repository to your machine and try it out.
https://github.com/PROgram52bc/vue-socket.io-extended-demo
Let me know if you have any problem running it!

[2019-08-02 15:08] probil commented on #384
I've just checked quasar project a little bit. And there is not main app entry point. So my suggestion would be to wrap plugin registration and call it during store init.

E.g.:

[code]
Then
[code]

I've just tried it on my local machine and it works just fine!

Can you check that @KodeStar and @sandeeppsmys

[2019-08-02 15:11] probil commented on #408
I will definitely take a look today in the evening.
Thanks @PROgram52bc 👍

[2019-08-02 18:03] KodeStar commented on #384
I can confirm that works for me, though the previous `store: store()` worked for me also, I understand why this way works though so I'll stick with it. I think the other way worked as well because it was defined as a `const` so when it was called again it was still using the initial reference, either way it's all good.

[2019-08-02 22:29] probil commented on #384
Thanks everyone.
Let me know if you have other questions

[2019-08-02 22:29] #384 closed

[2019-08-02 23:24] probil commented on #408
I took a quick look.
I guess  `v3.2.1` will work in your case. So try to downgrade to exact version.

I going to find a solution that will fix this issue and won't break #400

[2019-08-03 01:07] sandeeppsmys commented on #384
Thanks probil.. its working for me too. Appreciate your efforts and enthusiasm in closing the issue.

[2019-08-09 06:48] xoxmaman commented on #357
I think the next should be better:
[code]

[2019-08-09 08:45] Luluno01 commented on #357
@xoxmaman Looks like your code includes some naming conversion schema and will “guess” the correct event name by listening to all suspicious events, right? How about just provide the users a decorator factory and let them designate the event name by themselves?

[code]

It is bloating now ;P.

Not tested.

[2019-08-09 08:51] xoxmaman commented on #357
cool

[2019-08-09 18:38] FreddyCrugger opened #409 "Is it possible to send an OAUTH2 token during the socket connection?"
Hello,

Is there a way to send a token to the back end and either validate or invalidate the connection with your plugin?

Thank you.

[2019-08-11 14:31] FreddyCrugger opened #411 "How to reconnect when the WebSocket connection is lost?"
Hello,

In your doc I cannot see anything that refers to reconnect to the webSocket when the connection is lost.

Does it works like with the native websocket vue plugin?

[code]

Would this be correct?

Thank you.

[2019-08-11 17:48] probil commented on #411
Hi @FreddyCrugger
This library is just a bridge between socket.io and Vue.

You should configure low level details on a socket.io instance (instead of plugin):

[code]

BTW, socket.io supports automatic re-connection

[2019-08-11 17:48] probil commented on #411
Let me know if it helps and if you have any other questions

[2019-08-12 19:49] probil commented on #409
Hi, @FreddyCrugger

This plugin does nothing related to connection validation. It just connects socket io client instance with Vue and Vuex.

You should investigate how to do what you need on using official socket.io client. Come back here if you have any issue regarding the plugin

[2019-08-12 19:49] #409 closed

[2019-08-12 19:49] #411 closed

[2019-08-13 09:04] FreddyCrugger commented on #411
My apology, I could not reply earlier.
Thank you so much for your reply.

I will be using Vuex with modules on my project and I am a bit confused on the Vuex part in your example. I have always worked with Axios and Web Sockets are new to me.

You have an example on this page:
https://www.npmjs.com/package/vue-socket.io-extended

 that shows this code:

[code]

Should it not be this instead
[code]

[2019-08-13 11:34] probil commented on #411
Hi, @FreddyCrugger
the example is correct but I think I need to add some comments to make it more clear

According your example you have something like this
[code]
But why you need this extra action? We can simplify that:
[code]
And if your method `processMessage` is sync. We can simplify it even more:
[code]

[2019-08-13 11:46] FreddyCrugger commented on #411
Thank you for the reply, example and for your time, wonderful!

[2019-08-13 11:46] probil commented on #411
You can, but you will have a lot of boilerplate code like this:
[code]
It's tough to write it in all the components

For Vuex it's even harder: you need to do it for every action and mutation in vuex module.

So in general it's much easier to work with.

[2019-08-13 14:05] FreddyCrugger commented on #411
Thank you so much, I get it now, you have really answered all my doubts about Vue and web sockets.
Great great explanations!

[2019-08-13 22:02] probil commented on #407
@KodeStar Is this still relevant?
- We have found a way to make library work with Quasar
- The first issue you mentioned is the same as in #408 and you can fix it by downgrading to `v3.2.1`
I've found a better way to fix without downgrading. Fix will be available in the upcoming version `v4.x`

[2019-08-13 22:13] probil commented on #365
I think it will work also without special mixin:
[code]
And then in your component:
[code]
So in this case, during app loading socket connection will be configured but not actually established. It will be waiting for `this.$socket.connect` call.

And no, it won't creat few instance of Vue or few instances of socket.io - don't worry about that.

The purpose of mixin was to declare `$socket` only fo

[2019-08-13 22:17] probil commented on #406
Closed because of inactivity. But a contribution is still welcome :wink:

[2019-08-13 22:17] #406 closed

[2019-08-14 07:36] KodeStar commented on #407
Feel free to close it then :)

[2019-08-14 08:53] #407 closed

[2019-08-17 16:23] #408 closed

[2019-08-18 13:02] probil commented on #357
Implemented in `v4`

[2019-08-18 13:02] #357 closed

[2019-08-18 13:02] probil commented on #117
Implemented in `v4`

[2019-08-18 13:02] #117 closed

[2019-08-18 13:03] probil commented on #408
@PROgram52bc Fixed in `v4`

[2019-08-23 15:09] Slluxx opened #415 "net::ERR_CONNECTION_REFUSED"
Hey,
my main.js looks like this (application runs on :8081)

[code]

My browser console prints this:

`GET http://localhost:1923/socket.io/?EIO=3&transport=polling&t=Mo_18KQ net::ERR_CONNECTION_REFUSED`

Do i need to do something else or is it a bug?

[2019-08-23 15:58] probil commented on #415
Hi @Slluxx 👋
Are you sure you have socket.io server up and running on port `1923`?

[2019-08-24 17:45] Slluxx commented on #415
Hey,

well, i didnt do anything else apart from whats in the readme. Would you mind telling me what else i have to do?

[2019-08-24 20:05] capndave commented on #415
You'll need to write a basic API with Node/Express and Socket.IO if you haven't already. The [Socket.IO documentation](https://socket.io/docs/) is pretty good and tells you how to do it, and there are a few other tutorials up online.

[2019-08-24 20:15] capndave commented on #365
Is this resolved then? @probil I can add this to docs if you want.

[2019-08-24 20:21] probil commented on #415
@capndave Sounds like we should add a mention about socket.io server to the docs

[2019-08-24 22:33] capndave commented on #415
Sounds good!

*David Thompson*
Software Engineer
Travis Central Appraisal District
(512) 375-9134

On Sat, Aug 24, 2019 at 3:21 PM Max Lyashuk <notifications@github.com>
wrote:

[2019-08-26 08:23] Slluxx commented on #415
Hey,

i used socket.io in other projects without problems but i really have no clue how to integrate it in vue. When trying the express "way" i am getting errors like `Critical dependency: the request of a dependency is an expression` which i dont know how to solve.

Or do i need a seperate project which just serves as socket server?

[2019-08-26 14:42] JonLev opened #416 "Add a `uninstall` or `reset` method"
Hi,

I use this great lib for a chat widget, with the constraint to have the possibility of a dynamic reset. The issue is that when I make the reset I need to re-set the socket instance used by VueSocketIOExt with new parameters.
What I do today is:
[code]

It seems that do not work because of VueJS `use` logic that do not apply all operations if the module was already installed:
https://github.co

[2019-08-27 07:28] Slluxx commented on #415
@capndave Well, i posted my code above and its in my Vue project. When trying to use it with express, i was just playing around with these lines.

[code]

But from your questions it seems like i need a separate express&socket node server that is not in the vue project. Is that correct?

I thought there is a simpler way but when i think about it, it's kind of clear. Vue builds static files and is n

[2019-08-27 07:54] probil commented on #415
Correct

@Slluxx you can connect vue project to express server, e.g. serve static files built by vue.
But in practice I don't recommend doing. You will lose the HMR (during development) and possibility to deploy them separately. Having 2 projects separates responsibilities and reduces complexity in some way.

You can also use technique called _monorepo_ and have both of them in one git repo so it'

[2019-08-27 07:57] probil commented on #310
I'm going to host examples in the repo so users can fetch and play with them locally

[2019-08-27 08:35] Slluxx commented on #415
I will try later today and keep you updated on my progress. Thanks :)

[2019-09-07 17:34] capndave commented on #416
@probil: This is a bit over my head, but a comment to this [post](https://stackoverflow.com/questions/57415676/is-there-something-like-vue-unuse-to-stop-using-a-plugin) suggests that this [Vuex method], may demonstrate a way to un-use / uninstall a Vue plugin. Will try to research more later.

[2019-09-11 00:23] studiowebux opened #418 "Question about VUEX"
Hi,

I have a question about the usage of socket.io with Vuex and the actions handler.

Here is my backend function :
[code]

To call this function I do this from the Frontend :
In My component named category.vue,
[code]

My component store:
[code]

My socket definition :
/resources/socket.js

[code]
I had to change the eventToActionTransformer to only `return str`, because otherwise it did not wo

[2019-09-11 07:51] probil commented on #418
Hi @studiowebux 👋
Thanks for so detailed question.

I guess it should work. 🤔  When BE emits `categoryFound` it's expected that `socket_categoryFound` is dispatched in store. We use `camelcase` under the hood. Here is a quick demo on how it works right now
https://runkit.com/embed/q6ctdiaqrzd8

I'll take a look at your example more deeply soon

[2019-09-16 14:25] mila76 opened #419 "plugin is not exported in UMD version"
Seem not working at all

[code]

console undefinied

I have the same without umd working... maybe doc is wrong??
I can't figure out

[2019-09-16 14:53] probil commented on #419
Hi @mila76 👋
I'll check it out. Thanks for your issue!

[2019-09-16 14:58] probil commented on #419
@mila76 there is an issue.

You can apply this quick fix for now.
[code]

[2019-09-16 15:02] mila76 commented on #419
confirm fix work, thanks...
i can continue on my testing :dancer:

[2019-09-16 15:24] probil commented on #419
@mila76 Good luck!

[2019-09-27 17:33] colinbes opened #420 "Using socket decorator with name "send:status""
I am using vue class components and have socket connecting per your demonstration. For the device I am connecting to I am looking to listen to "send:status" event and am not seeing the wood for the trees on how to do this.
I am needing something like:
[code]

I saw comment on adding decorator to `@Socket` but am not seeing how to do that.
Thanks

[2019-09-27 18:13] #415 closed

[2019-09-27 20:51] colinbes commented on #420
Stepping away solved the problem.
I had
  @Socket()
  connect () {
    console.log('connection established')
  }
  'send:status' (msg: ControllerStatus) {
    console.log(' status message ', msg)
  }

which didn't work and threw me off on a tangent.

This works:
  @Socket()
  connect () {
    console.log('connection established')
  }
  @Socket()
  'send:status' (msg: ControllerStatus) {
    consol

[2019-09-27 20:51] #420 closed

[2019-10-04 01:47] studiowebux commented on #418
HI,

So I just change a lot of stuff in my backend implementation and now it works as expected,

Thank you.

[2019-10-04 01:47] #418 closed

[2019-10-10 12:40] frederic117 opened #421 "Problem in a component with nuxt"
Hello,
Thanks for your help
when i call the socket from default page everithing work
but inside a component I got:
TypeError: this.$socket.$subscribe is not a function
and if i console log the socket in the component i have:
this.$socket
{client: Socket}
client: Socket {io: Manager, nsp: "/", json: Socket, ids: 0, acks: {…}, …}
connected: (...)
disconnected: (...)
get connected: ƒ ()
get disconnec

[2019-10-14 15:35] capndave commented on #421
@frederic117 I can't replicate what you're seeing - the `this.$socket` objects in `index.vue` and `components/Logo.vue` are identical in my case. I used [create-nuxt-app](https://github.com/nuxt/create-nuxt-app). Can you post your component code?

[2019-10-15 09:24] frederic117 commented on #421
thanks for your reply.
I made it works with  vue-socket
But the call of the socket was exactly the same in the default as it was in the component

[2019-10-15 13:18] probil commented on #421
Hi @frederic117 👋
Thanks for your issue.

It's hard to figure out the issue without knowing how to reproduce it.
It would be really cool if you can provide us a super simple demo of the issue (for example as github repo).
There multiple places where a problem can be. It can take you 10 minutes to create a simple demo but for someone we can save hours for debugging

[2019-10-19 08:35] probil commented on #365
@capndave I think yes. The approach I've mentioned above is basically the same approach as @Thooto's but with SFC

I'll appreciate if you do.

[2019-10-20 09:32] #419 closed

[2019-10-20 09:40] probil commented on #419
Fixed in `v4.0.1`

Proof:
[code]

[2019-10-24 02:30] dedosmedia commented on #114
with autoConnect = false
this.$socket.open()  did no worked for me.
I had to use this.$socket.client.open()
Has something changed over the last months or am I doing something wrong?

[2019-11-07 23:41] colinbes commented on #258
Still in testing phase but this appears to work with address not being known at time of initialization.

What I did in setup stage is set socket uri to empty string ‘’ and autoConnect to false. Then when user enters url string I use this.$socket.client.io.uri to user supplied host address and then call this.$socket.client.open().

I am typing this from memory so please excuse minor mistakes but sh

[2019-11-15 06:30] maqingbo opened #427 "[HPM] Upgrading to WebSocket error"
Hello author, I am very happy to use socket.io in vue through this package. But when I use this package in vue-cli，I got an error.

[code]

[code]

[code]

When I fill in the IP address directly in main.js, I am prompted to cross-domain issues, so I use proxy, I guess the problem might be in the proxy, but I didn't find a solution. Is my configuration wrong?

[2019-11-15 23:32] probil commented on #427
Hi @maqingbo :wave:

I don't recommend using `proxy` because you wouldn't be able to use it in production. Basically are delaying problem solving for later times.

Can you tell me what kind of cross-domain issues do you have? :thinking:

P.S. You can make it work with `proxy` by passing `upgrade: false` to socket.io constructor but as I've already mentioned don't recommend it.

[2019-11-18 10:34] maqingbo commented on #427
My English is not good, it may not be very accurate（cross-domain）.I'll show you the picture：

![2019-11-18 18 08 35](https://user-images.githubusercontent.com/20136852/69044974-df57c280-0a30-11ea-960c-aca3b9e6bdb7.png)

The url I got is `http` not `ws`，so I need to upgrade from long polling to websocket，this problem is generated when sending long polls.

[2019-11-18 11:24] wilian746 opened #428 "Problem in IE11 (Not Working)"
Hello,

I am need support for **### IE11** but when install show error `Sintaxe Error` in console. The same error is repeated in the example described in the documentation. [CodeSandbox](https://codesandbox.io/s/oxqpm54pnq?fontsize=14&module=%2Fsrc%2FApp.vue)

Image with error -->
![Capturar](https://user-images.githubusercontent.com/12536670/69049549-ed7cf300-09de-11ea-9c87-e95fd8dbd699.PNG)

[2019-11-18 11:27] wilian746 commented on #428
@probil you can help me with this issue? my job depends on it :'(

[2019-11-18 12:50] probil commented on #428
Hi @wilian746
Thanks for your issue. I don't think the problem is in `vue-socket.io-extended` itself but in `socket.io` which is using `debug` module under the hood.

Try to replace
[code]

If it doesn't help, try to build for production and show me an error.

P. S. I'm glad that your job depends on it. You'll be paid for it. But I'm getting nothing of this project.

[2019-11-18 13:07] probil commented on #427
@maqingbo
Your server should respond with a special header so it's not blocked by browser. The easiest way to do so is to pass `origins` options to the socket.io constructor on the server:
[code]
https://stackoverflow.com/questions/24058157/socket-io-node-js-cross-origin-request-blocked

[2019-11-18 13:42] wilian746 commented on #428
OHHHHH MY GOD, IT'S WORK !!! **TNKS** :D

[2019-11-18 13:42] #428 closed

[2019-12-12 11:29] DaveAuld opened #430 "V4.0.1 breaks with error 'Cannot read property 'install' of undefined'"
This standard code fails to build with error thrown on the Vue.use line
![Capture](https://user-images.githubusercontent.com/4674288/70708463-9f13f900-1ceb-11ea-8e99-3a6b1f7be17b.PNG)
, however forcing down to **V4.0.0** works fine. This is on CodeSandbox using Vue 2.6.10 and  socket.io-client v2.3
[code]

[2019-12-12 20:03] probil commented on #430
Thanks, @DaveAuld
I'll take a look ASAP

[2019-12-13 15:14] ieshan opened #431 "TypeError: this.$socket.$unsubscribe is not a function"
Please take a look at the following link on `App.vue` line `38` and `39`

[https://codesandbox.io/s/vue-socket-io-extended-twitter-feed-demo-oe6ld?fontsize=14&hidenavigation=1&theme=dark](url)

The `$subascribe` function does not exist.

[2019-12-13 19:14] probil commented on #431
Try version `4.0.0`
For some reason tests were unable to catch such an issue.

Thanks for your issue BTW :+1:

[2019-12-14 05:38] ieshan commented on #431
@probil seems like the issue exists in `4.0.0` too in a different way.

When the page is loaded the first time and the Vue instance is `created()` the `$subscribe` function was available, but when I moved to another page and `destroyed()` called the `$unsubscribe` it raised `TypeError`. Again when I moved to the (without reloading) page the `$subscribe` function was not available.

[2019-12-21 14:05] steevepay commented on #431
I'm having the same issue. When I change the route and come back, the $subscribe is not available anymore.

[2020-01-02 15:56] Black-Horse opened #433 "how to join rooms?"
Thanks for this awesome lib!

I am able to receive normal messages so far.
I want to join a certain room when the component loaded and then receive the messages for this room.

I tried variations of this but couldn't get it to work:
`    connect: function () {
      this.$socket.join('id-' + ${this.$route.params.id})
    }`
The server emits a message with a default name to this room. It seems like

[2020-01-10 11:40] HunterJS-bit opened #434 "Nuxt socket io refetching data from server"
Hi, guys, I'm trying to use your plugin with Nux as you explained here

https://github.com/probil/vue-socket.io-extended#mountain_bicyclist-usage-with-nuxtjs

But the issue I'm getting is that every time server is offline
nuxtServerInit is called to fetch data again and again like in loop,,
could you please help with this problem ?

[2020-01-16 08:03] wnjustdoit opened #436 "How to refresh the browser cookie?"
When I use the single web socket client, it connect just as the client page loaded. After that, the client cookies may be updated during the socket client alive. So my question is how to refresh cookies to the socket client, the it requests the backend with those newest cookies or something else of the browser?
One possible solution is:
`this.$socket.client.disconnect();
            this.$socket.c

[2020-01-16 10:54] yesworld commented on #257
Hey @holwech,

Have you solved this problem? I faced the same error... :(

[2020-01-16 11:59] holwech commented on #257
No, I don't know for sure, but I'm fairly certain it's related to [this issue](https://github.com/championswimmer/vuex-module-decorators/issues/86#issuecomment-506698275) where you get the same error when calling actions directly using `vuex-module-decorators`. I'm guessing that's what this library is doing which results in an error. The issue I linked to does not contain a solution that would wor

[2020-01-22 04:55] ArtyomPLAY opened #438 "How to actually use namespaced vuex modules?"
I'm using nuxt and cant really get how to make namespaced modules working. Is there more detailed docs out there?
Thanks

[2020-02-24 18:12] capndave commented on #433
I could be wrong but I think the room joining needs to happen on the server side. Try emitting a `join` event (I used `this._vm.$socket.emit('join', 'my-app-name'` from vuex), then join that to the socket instance on the server.

[2020-02-25 22:02] rostgoat opened #440 "Exporting sockets object into a class/plugin"
Rather having everything sit in main.ts, is there a way to export `sockets` into a class of it's own?

Having something like this can get rather cumbersome..
[code]

However when I try to use `this.$socket` in `src/plugins/index.ts` I get `Property '$socket' does not exist on type 'NextClietPlugin'`

Can you recommend anything @probil ?

[2020-02-27 15:26] probil opened #441 "Enable pipelines in CI"
You are receiving this email because you are an active member of one or more projects building on CircleCI that do not have pipelines enabled. Below are the settings URLs for these projects:

https://circleci.com/gh/probil/vue-socket.io-extended/edit#advanced-settings

We will be automatically turning on pipelines for these projects starting March 9th, 2020.

If you are an admin for any of these p

[2020-03-05 08:06] Lavhe commented on #431
I am still facing this issue

[2020-03-06 20:16] ross-crowdsmart commented on #431
I am also facing this issue. Will this be fixed soon?

[2020-03-07 22:58] Lambik opened #443 "Events with spaces"
Hi,

I'm doing the socket.io tutorial, which has the event `chat message`. I've vue-ified the project, and used your library, however since I'm new to both socket and vue, I don't really know how to capture the spaced event name.

Your docs mention that in the vuex store there is something like "chat message	SOCKET_CHAT MESSAGE	socket_chatMessage", but since I don't know yet what vuex is, I'm usin

[2020-03-07 23:18] Lambik opened #444 "What imports are needed?"
Hi,

If I just pust this in my index.js file, and run it through webpack and then load it in my index.html, Vue is not loaded and thus not defined:

[code]

I have to add it explicitly in my html as `<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>` before loading my webpack'ed bundle. However, this is nonsense, webpack should make one file.

But when I try by adding `import Vu

[2020-03-07 23:49] Lambik commented on #444
Apparently I need to `import Vue from 'vue/dist/vue.js';` but mostly because I'm using vue to enhance an existing page, instead of having a real application.

I'm going to close this comment because it has nothing to do with this project.

[2020-03-07 23:49] #444 closed

[2020-03-09 14:34] yooneskh commented on #443
Test if this works
[code]

[2020-03-09 14:58] Lambik commented on #443
Oh! I didn't know you could do that! This works, thanks :-)

[2020-03-09 14:58] #443 closed

[2020-03-10 11:49] probil commented on #438
@ArtyomPLAY It works the same way as with on vuex store without modules.
If there is a mutation or action that matches an event it will be triggered no matter in which module it's defined.

Let's say you have an event called `new-message` triggered on the server. To catch the data in Vuex just create a mutation `SOCKET_NEW_MESSAGE` or action `socketNewMessage` in the vuex module which is the most

[2020-03-10 11:52] probil commented on #427
Closing the issue because of inactivity.
Feel free to create a new issue if you have any other problems.

[2020-03-10 11:52] #427 closed

[2020-03-10 11:59] probil commented on #434
Hi, @HunterJS-bit

By default socket.io tries to reconnect until server is available and it's appropriate behaviour for a majority of cases. But you can control it by passing `reconnectionAttempts` or `reconnection` option to socket.io constructor.

[code]

Thanks for your issue 👍

[2020-03-10 12:00] probil commented on #434
Please confirm that issue is resolved

[2020-03-10 17:33] ArtyomPLAY commented on #438
@probil thx for the answer. At first i thought "namespaces" meant actual socket.io namespaces which we can create on the server with `const nsp = io.of('/my-namespace');` , so i couldnt figure out due to this misunderstood. Would be awesome if you add support for socket.io namespaces.

[2020-03-10 17:53] matiasjg commented on #384
I was facing the same issue but using NuxtJs and I found that the parameter `store` in the plugin file needs the `{}`:

`export default (store) => {` change to `export default ({ store }) => {`

_plugins/vue-socket.js_
[code]

Hope it helps

[2020-03-12 12:07] probil commented on #384
Thanks @matiasjg

[2020-03-12 12:30] probil commented on #438
there is a feature request for that #81

[2020-03-12 12:30] #438 closed

[2020-03-13 07:46] #441 closed

[2020-03-22 22:44] HunterJS-bit commented on #434
It resolved closing issue, thanx

[2020-03-22 22:44] #434 closed

[2020-03-23 22:06] zburk commented on #431
@probil Issue still not resolved. This is a pretty big issue as it renders the $subscribe and $unsubscribe useless

[2020-03-30 09:37] gutisalex opened #449 "this._vm in vuex error"
Using vuex-class-component with typescript I get an error trying to dispatch an action and commiting an event the way it is described in the docs:

Code:

`this._vm.$socket.client.emit('SomeEvent', data);`

Error:

`any
Property '_vm' does not exist on type 'MyModule'.ts(2339)`

Any idea?

[2020-04-06 14:51] Nicholaiii commented on #114
If you use jwt, with [socketio-jwt](https://github.com/auth0-community/auth0-socketio-jwt) you can just connect like normal and emit `authenticate` when ready. No work-arounds neccessary.

[2020-04-08 20:10] probil commented on #449
Hey, @gutisalex
Could you please show me entire action?
TypeScript doesn't always transpile actions the way you expect.

I suppose you use arrow function which doesn't have `this`

[2020-04-08 20:17] probil commented on #440
Hey @rostgoat
Could please provide me the class you've tried in `src/plugins/index.ts`? Without seeing usage it's hard to figure out the way to help

[2020-04-09 06:59] dan-sel opened #454 "Usage of non-API function breaks mock-socket compatibility"
Currently, [Observe.js](https://github.com/probil/vue-socket.io-extended/blob/6cba52bd583f0050e7488075cf4288b96645eb92/src/Observe.js#L44) augments socket.io-client's [onevent](https://github.com/socketio/socket.io-client/blob/master/lib/socket.js#L268) function which is explicitly marked private.

This is not only risky because the private API may change in the future without notice, but it also

[2020-04-09 12:46] FilipeCovas commented on #421
Same here, when i put this.$socket.$subscribe inside a component on nuxt returns an error: this.$socket.$subscribe is not a function :/

[2020-04-10 20:46] probil commented on #421
Hi, @FilipeCovas
Where do you call `this.$socket.$subscribe` ? Is it in mounted hook or in other place? Could you provide a bit more context?

Which version of the library do you use?

[2020-04-11 00:28] FilipeCovas commented on #421
@probil Yes is it in mounted lifecycle function from component. But for now i decided write on parent page and works for me and for my feature. If get a solution to this issue it will help a lot of people.

- vue-socket.io-extended -> **4.0.1**
- socket.io-client -> **2.3.0**
- nuxt -> **2.0.0**

[2020-04-16 19:02] vibonacci commented on #365
@probil
`this.$socket.connect()` is undefined?

I used the 4 setup lines:
[code]

And in a component simply `this.$socket.connect()`

[2020-04-20 03:08] master83 commented on #430
any luck or update on this? Thanks!

[2020-04-21 12:36] cfroe commented on #428
Perfect this solution helped me as well, perhaps you could move the help into the general description.
Thx

[2020-04-30 05:44] zhzhang-4390 opened #455 "Able to connect & send message to the socket server, but unable to receive"
In my `App.vue`:

[code]

In my server:

[code]

Client side `connect()` & `emit()` have been tested and are working, server side `emit()` has executed. But I'm not receiving anything on the client side.

Is any of my syntax wrong or something is outdated?

[2020-04-30 06:27] zhzhang-4390 commented on #455
Sorry, it's my own bug.

[2020-04-30 06:27] #455 closed

[2020-04-30 09:20] jaqusa commented on #449
I had the same problem using class components in nuxt.

This happens when you use `this` because referencing the class and not the entire document.
The solution that worked for me was to directly access the prototype of vue

you should have something like this

`Vue.prototype.$socket.client.emit ('Some Data', data);`

[2020-05-11 18:39] tibztibz opened #458 "action socket not executed with VueX"
hey,

I have a problem to execute my action socket with VueX.

Vue: "version": "2.6.11",
VueX: "version": "3.3.0",
vue-socket.io-extended: "version": "4.0.1",

the socket server emits event 'response'.

Before, I used `this.$socket.$subscribe` on the event 'response' in the app component and it was  working but I don't know if it's normal, when I subscribe an other event in an other child componen

[2020-05-11 21:46] probil commented on #458
Hey @tibztibz 👋
You haven't passed your store properly, try this instead:
[code]

[2020-05-12 00:28] tibztibz commented on #458
@probil oh my god !! how i can't see that...
 it's ok, it's works, thanks !

but for the dynamic listener with $subscribe which seems delete the first listener, it's normal ?

[2020-05-12 07:12] probil commented on #458
Nice

Could you explain a bit more? Anyway it's better to create a new issue for that 🤔

[2020-05-12 11:03] tibztibz commented on #458
okey i close this one and open an other.

[2020-05-12 11:44] tibztibz opened #460 "I can't listen multi event with this.$socket.$subscribe"
Hello,

Vue: "version": "2.6.11",
VueX: "version": "3.3.0",
vue-socket.io-extended: "version": "4.0.1",

here's the probleme:

In my App component, I listened the event 'response' with this.$scoket.$subscribe in the created(), and in a child component, I listened an other event with  this.$scoket.$subscribe 'startChrono' in the created() of child component.

When I arrived in child component, my l

[2020-05-12 11:45] tibztibz commented on #458
the new issue : https://github.com/probil/vue-socket.io-extended/issues/460

[2020-05-12 11:45] #458 closed

[2020-05-12 16:32] tibztibz opened #461 "this.$socket.$subscribe event breaks the integration of socketIoExtend in the store"
hey,

Vue: "version": "2.6.11",
VueX: "version": "3.3.0",
vue-socket.io-extended: "version": "4.0.1",

When I subscribe a event dynamicly in a child component, the event socket in the store not working.
Maybe the problem can that be a link with this issue : https://github.com/probil/vue-socket.io-extended/issues/460

here's my mains.js

[code]

my actions store

[code]

my child component Game

[c

[2020-05-24 17:31] rfox12 opened #464 "Please remove dependency on vue-class-component for Typescript users..."
I love this library--it's been useful.  Now that all my projects are Typescript I've noticed that this library is complaining that I need `vue-class-component`... but I don't need it for my setup (I use the new Vue Composition API).

It seems that `index.d.ts` uses `VueDecorator` in exactly one line.  Is there any easy way to separate that out?

[2020-05-24 21:47] probil commented on #464
Hi @rfox12 👋
Thanks for good words. I'm glad that library helps someone

Interesting claim I can tell you. 🤔 This is a bit strange because compiled library should not depend on `vue-class-component` anyhow. If you don't import `Socket` it should not bother you.  But yeah, typescript sometimes is a bit "over-typed".

This is not the only issue I've got with the decorator. I had another problem with

[2020-05-24 21:51] probil commented on #460
Hi @tibztibz
I'm not sure to be honest 🤔 I need a codesandbox (you can for that one mentioned in README) or github repo with a reproduction of the issue.

BTW You can always setup listeners directly on the socket instance. `$subscribe` and `$unsubscribe` is just for convenience. I've haven't tested those methods profoundly TBH

[2020-05-24 21:55] probil commented on #454
Hey @dan-sel
This was conscious decision actually. `socket.io-client` doesn't provide official way to subscribe to all events. I'd use another way if it was available

[2020-05-25 01:04] rfox12 commented on #464
I'm using the Composition API as a plug-in for now (w/Vue 2.6).  Vuex 4 just came out, but as far as I can tell you shouldn't really need to change anything with `vue-socket.io-extended`.  More Typescript will continue to come to Vue now.  When Vuex 5 hits you'll probably need to change some things around to keep the library going.  I'll let you know if I run into issues.

[2020-05-25 01:08] rfox12 commented on #464
Maybe you could move these lines out of `index.d.ts` and into a new `socket.d.ts` file?
[code]

[2020-05-25 08:05] probil commented on #464
I'm not sure whether typescript will start using that file `socket.d.ts` automatically or not 🤔
I suppose if I import `socket.d.ts` to `index.d.ts` the problem won't disappear. They only solution I see is an experiment

@rfox12 if I make a branch with a potential fix would you like to check it?

[2020-05-29 13:57] tibztibz commented on #460
Hi @probil ,

If you want more context, it's a timesup where players create a room, choose their team, create words, and when all player are ready, start the game.
When the first player starts the turn, I'm using the socket to start the chrono of all players.
In this case, I'm using the $subscribe to do that.

I'm also using the socket to share data between the different players of the room.
In th

[2020-05-29 21:26] probil commented on #461
Hey @tibztibz
It seems like introducing `this.$socket.$subscribe` was a mistake. 🤔
You can attach socket events directly instead, e.g.

[code]

[2020-05-29 21:30] probil commented on #460
Hey @tibztibz
Thanks for your issue.
I've already responded you here: https://github.com/probil/vue-socket.io-extended/issues/461#issuecomment-636199685
Try to use socket instance directly instead

[2020-05-29 21:33] #454 closed

[2020-05-29 21:39] probil commented on #436
Hey @wnjustdoit
This plugins is only a small wrapper around `socket.io-client`, so you should probably ask your question in [`socket.io-client` community](https://socketio-slackin.herokuapp.com/) instead. It's quite an edge case I can tell you. 🤔

If you you have any other `vue-socket.io-extended` questions I'll be glad to answer.
Thanks for your question anyway
Good luck 🍀

[2020-05-29 21:39] #436 closed

[2020-05-29 21:49] probil commented on #433
@capndave is right, rooms should managed on the backend.

Anyway, this library just a small wrapper around `socket.io-client` which provides a bit more coherent integration with Vue.

Question it's not directly related to `vue-socket.io-extended`. I believe it's better to ping [socket.io community](https://socketio-slackin.herokuapp.com/) instead.

[2020-05-29 21:49] #433 closed

[2020-05-29 21:56] probil commented on #431
It seems like introducing `this.$socket.$subscribe` was a mistake. 🤔

For now you can attach events directly on the socket instance, e. g.:

[code]

[2020-05-29 21:57] probil commented on #431
Will try to check other use cases and probably release the next version without `this.$socket.$subscribe` :|

[2020-06-02 12:29] ingles98 commented on #416
I need this. My current project requires me to implement server selection for the users. When connecting to the first server, users cannot just "logout" and connect to a different one. Any way around this ?

[2020-06-05 17:26] lllllxt opened #465 "How to create two or more connection？"
As the title, I went through the documentation and source code and found no way

I can use Socket.io-client directly, but I don’t want to give up using this excellent plugin

Does anyone have any suggestions  🙏

[2020-06-06 09:02] probil commented on #465
Hi @lllllxt
Why do you need two connections to the server?

[2020-06-06 09:08] lllllxt commented on #465
The project I have is to cooperate with other companies, and I must connect their services and our own services at the same time.

[2020-06-06 09:11] lllllxt commented on #465
The project I have is to cooperate with other companies, and I must connect their services and our own services at the same time. @probil

[2020-06-06 11:18] tibztibz commented on #461
ahh ok !

it's good it's works !

thanks a lot ! i close the issue :)

[2020-06-06 11:18] #461 closed

[2020-06-18 08:32] ChrisAgar commented on #464
This is an issue for me as well. I installed the dependency as a workaround

[2020-06-22 00:25] joweste commented on #277
Hi, didi you solved it? I have the same problem

[2020-06-22 00:27] dsafanyuk commented on #277
What does your code look like

[2020-06-28 10:49] gzg1500521074 opened #469 "how to set header?"
import VueSocketIOExt from 'vue-socket.io-extended'
import io from 'socket.io-client'
 const socket = io('http://127.0.0.1:3000',{
  transports: ['websocket'],
  autoConnect:false,
  debug: true,
  query:{
    name: "guozg"
  },
  transportOptions: {
    polling: {
      extraHeaders: {
        Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXV"
      }
    }
  }
})
Vue.use(VueSocketIOExt, s

[2020-06-30 03:09] #469 closed

[2020-06-30 03:09] gzg1500521074 commented on #469
give up set header

[2020-07-11 05:56] elC0mpa commented on #188
Hi @probil, I am trying to achieve something like this:

- I want to connect to the the server using this URL:
  - https://socket.treve.app/client/1?token=myToken
- I tried to solve it by doing this:
  - this.$socket.client.io.opts.query = {
      token: this.$store.getters['auth/token']
    };

This approach doesn't work, any idea?

[2020-07-21 13:56] amiceli opened #475 "Is it possible to transform event name like eventToActionTransformer but for component ?"
Currently in my project, on client side I receive only one event but with more details inside.
For example :

[code]
or
[code]

So, on my vue component I've following code :

[code]

Is there a way to map or transform event name like eventToActionTransformer but for components ?

To update component like this :

[code]

[2020-07-25 08:54] guoxiangke commented on #464
same error

[2020-07-25 22:31] d3vzer0 opened #476 "Error when trying to donate a cup of coffee"
Heya!

Thanks for building the socket.io-extended package for Vue :) I'm using Quasar so I was happy to see that the documentation included an out-of-the-box working example using Quasar's boot files concept.

I was trying to buy you a cup of coffee on Ko-Fi but the payment fails when trying to support your account. Is your ko-fi e-mail address still up to date with paypal? I found the following a

[2020-07-26 16:02] probil commented on #476
Hey @d3vzer0
I am delighted to hear that you are willing to buy me a cup of coffee 😍
Thanks for opening the issue. I didn't know that it's not working. I've just checked the email and it seems to be valid. There might be a different issue, thought. Paypal was not officially supported in Ukraine for a lot time. Not it's kinda work. I might need to check the profile, provide my passport, etc

I'll d

[2020-07-28 23:17] joweste opened #477 "Set socket IO url at runtime"
Hi,

I have an vue app to multiple  users.
After user login, I get your address API.
I need to use the this address to set the socket io URL in runtime into a component.
This component can be the App,vue or other component.

Is it possible?

[2020-07-30 13:33] adamasantares opened #479 "Migration from vue-socket.io to vue-socket.io-extended"
For everyone who has migrated from old package to this new one on existing project.
You need to redefine 2 parameters so you will be able to use old store action names like "SOCKET_EVENT_NAME":

[code]

[2020-07-31 06:33] adamasantares commented on #479
np, pull request is awaiting.

[2020-07-31 08:46] probil commented on #475
Thanks, @amiceli for your contribution
Will take a look

[2020-08-14 13:56] yazer79 opened #484 "Connect function doesn't fire unless server is restarted"
Hi,
I am trying to get the Socket: connect function to work, but it doesn't. It only works if the "server" is restarted, then I can see the client console logging "socket connected". I keep reloading the page, the server responds with "socket connected", but the client doesn't do anything at all.

I have vsio-ext client 4.0.4 boot:
[code]
And on component

[code]

[2020-08-18 14:20] axel-verse opened #485 "Is there a way to fully control URL?"
I have no /socket.io in ws url, and I can not change this (I am frontend developer). So is there a way to change URL to my entry point?

[2020-08-18 15:11] probil commented on #485
Hi, @axel-verse
You can configure socket io instance however you like. There are a lot of configurations available including `path` which is `/socket.io` by default.

I know Client API is not straightforward, but you can pass any option from here to the socket.io constructor.
https://socket.io/docs/client-api/#new-Manager-url-options

So here is potential version of your code:
[code]

[2020-08-18 15:24] probil commented on #484
Hey @yazer79

The problem might be that your component is being rendered after connection is established. There is no way right now for component to detect whether it was render before or after successful connection. Having that would be confusing as we have only one connection per app ( not one connection per component)

As a solution you need to a add a check in mounted hook whether the socket i

[2020-08-18 15:26] probil commented on #485
I will reopen the issue if that won't help

[2020-08-18 15:26] #485 closed

[2020-08-18 15:26] probil commented on #484
I will reopen the issue if that won't help. So keep me posted

[2020-08-18 15:26] #484 closed

[2020-08-18 15:58] axel-verse commented on #485
Thanks a lot, i tried this and it's working as expected :)

[2020-08-19 00:34] TBetcha commented on #431
Has anyone found a solution for this? I am actively experiencing it.

[2020-08-19 08:23] probil commented on #485
Nice to hear that @axel-verse
Have a great day!

[2020-08-19 08:24] probil commented on #479
Merged

[2020-08-19 08:24] #479 closed

[2020-08-19 08:26] probil commented on #431
@TBetcha The solution is mentioned above
https://github.com/probil/vue-socket.io-extended/issues/431#issuecomment-636210150

[2020-08-19 09:23] probil commented on #476
It turned out we still can't receive payments in Ukraine through PayPal 😞

<img width="518" alt="Screenshot 2020-08-19 at 11 58 54" src="https://user-images.githubusercontent.com/6773202/90614523-6f6ea680-e213-11ea-8c0e-6088b5b6b5da.png">

The same with Stripe... 🙄

I've registered another account in Austria so I can receive payments. Just tried to pay from the old account and it works fine. 🎉

Ho

[2020-08-19 09:23] #476 closed

[2020-08-24 18:05] yazer79 commented on #484
I don't remember how it was fixed I will try to. Thanks for your reply

[2020-09-14 11:43] ManojMMWWIndia commented on #477
any updates on this?

[2020-09-22 16:44] sbrow opened #488 "Allow socket to be updated"
This is similar to issue #477 .

I'm writing an app where the user has the option to input the uri of the socket.io server they'd like to connect to. However, there doesn't seem to be any way of updating the socket at present. Any ideas on how I should proceed?

[2020-09-22 16:49] sbrow commented on #488
My apologies, this is a duplicate of #416 .

[2020-09-22 16:49] #488 closed

[2020-09-26 05:47] jessepcc opened #489 "Error in initialisation with Vue3 createApp"
Initialization with instructions of doc from Vue3 as follow

[code]

Getting errors in runtime
`Uncaught TypeError: e is not a constructor`

After some research, seems the problem is from the breaking change from Vue2 to Vue3, with the createApp api

https://nystudio107.com/blog/a-taste-of-vue-js-3-async-components-and-plugins/amp
https://alvarosaburido.dev/blog/how-to-migrate-your-library-from-vu

[2020-09-26 10:55] probil commented on #489
Hi @jessepcc  and thanks for your issue.
I haven't used the library with Vue 3 yet. Neet to take a closer look at new API. Since Vue 3 has been released recently I believe it's time to work on Vue 3 compatible version of the library

[2020-10-01 16:40] JumpHoysteria opened #490 "Failing Server -> Component and Component -> Server. What am I doing wrong?"
EDIT: I found the solution, finally.. I totally missed that socket.on(...) needs to be in the callback of io.on("connect"). THIS was the mistake. Well thanks anyway. Thank you so much for your work. It wouldn't have been possible without your work. Thanks.

Hi, I'm pretty new to this, so sorry if it is trivial. But I already spend several days on it and the solution seems elusive.

After I had the

[2020-10-01 19:25] #490 closed

[2020-10-08 16:07] stevetsim opened #492 "How can I connect to two socket.io servers in one vue application with this library?"
I need to connect two socket servers on a vue app. I have tried to the method provided in #245 but sadly it didn't work well. The application only able to listen the first socket event.

So, it there any workaround could provide for me?

[2020-10-09 03:31] stevetsim commented on #492
The following javascript code with socketio-client did the job well.

[code]

However, the method mentioned in #245 doesn't work
[code]

So, is there any possible way for me to implement the above feature with this awesome library?

[2020-10-10 13:57] kmalski commented on #489
Hi, when can we expect  support for Vue 3? I'm starting a new project and wanted to do it with the newest version of vue. Is there any option to release it at least in beta version?

[2020-10-13 05:33] #492 closed

[2020-10-19 17:48] xzaz opened #493 "Usage with vue-router"
Basically it's this bug: https://github.com/MetinSeylan/Vue-Socket.io/issues/153

When you load the page with `this.router.$push()` the `sockets` methods never get invoked.

[2020-10-20 10:45] xzaz commented on #493
This project seems dead? 👎

[2020-10-22 09:54] 19apoorv97 commented on #431
//App.vue
mounted(){
    this.$socket.client.off('userSubscription');
    //this.$socket.client.on('userSubscription', (payload) => {console.log(payload)});

  },

//server
socket.emit('userSubscription','Send this message to only those who subscribed');

plz show me how to handle this on server side because even though i write this.$socket.client.off('userSubscription');
it is still printing on c

[2020-10-23 11:13] dan-sel commented on #454
Sorry for the late response. You don't need to subscribe to all events. All event names and handlers are known beforehand, so you can simply subscribe to each event separately. The socketio client already filters events by name and executes the subscribed handlers; there's no need to reimplement this functionality.

[2020-11-04 13:48] NoFr1ends commented on #489
Is this the issue to track the migration to Vue3?

[2020-11-05 17:41] matrunchyk commented on #489
@probil do you think it's still achievable in 2020? I'm also starting a new project on Vue3 and thinking whether to go with the library or go with pure socket.io...

[2020-11-06 08:48] probil commented on #489
@matrunchyk The migration is not hard, I'm just struggle to find enough time to deal with it. BTW in 2020 you don't have to use socket.io anymore since plain websockets are well supported in browsers. https://caniuse.com/websockets
The only reasons to use it are convenient API and support for super old browser.

I'll try to migrate it to Vue 3 later this year but can't guarantee you anything.

[2020-11-07 02:21] kentforth opened #494 "How to fix 400 Error Bad Request?"
I have client project(Vue JS)
I have a separate project for backend(Nest JS)

When the app on the client starts it cann't connect to websocket and shows error in browser:

![222](https://user-images.githubusercontent.com/17134421/98429673-b1084280-20da-11eb-94d4-82ada3155fdc.jpg)

**What did I do wrong in configuration?**

Nest JS:

App.ts:

[code]

App.gateway.ts:
[code]

Vue JS:
My Custom Compon

[2020-11-08 12:19] matrunchyk commented on #489
@probil I know about native websockets, but socket.io is still preferable for me as it has a good abstraction layer and fallback support of long polling.

Thanks for the answer anyways!

[2020-11-09 23:18] Akifcan opened #495 "can i use in vue3"
hello can i use this packet in vue 3?

[2020-11-10 07:19] probil commented on #495
No but planed, see #489

[2020-11-10 07:19] #495 closed

[2020-11-10 08:08] probil commented on #494
Hi, @kentforth
There is some misconfiguration. The error you see means that the client can't connect to the server. The problem might be that when client is trying to connect server is still initializing. Knowing nest.js it can initialize up to a minute.

Other problems I've spotted.

1. `sockets` shouldn't be inside `data`:
[code]

Try this instead:
[code]
2. You shouldn't subscribe to messages *

[2020-11-10 08:48] kentforth commented on #494
@probil Thank you!

[2020-11-10 08:48] #494 closed

[2020-11-25 20:59] ReazerDev commented on #489
I've made a pull request containing a (definitely not production ready) migration to vue 3. https://github.com/probil/vue-socket.io-extended/pull/499

[2020-12-07 05:32] kairosbusinessconsultancy opened #501 "$socket.connected is false but I can emit events."
My app running on the same port as my server $socket.connect = true, but when connected a new app the $socket.connect stayed false, and only updated to true when my second app reconnected.

[2020-12-21 19:21] Jake13f commented on #465
+1

We have multiple end servers that need connecting to and it seems that only one can be setup at once for use with vuex.  I have tried calling
[code]
for each different socket connection but it seems this also doesn't work.

[2020-12-22 15:23] yangxyo opened #505 "emit not excuse vuex action"
version:
[code]
main.js:
[code]
store.js:
[code]
excute:
[code]
The server can get the message.
However, actions>socket_sendMessage not work.

[2020-12-22 16:28] probil commented on #505
Hi @yangxyo
Are you triggering this line on client or on the server?
[code]

[2020-12-22 16:36] probil commented on #505
It seems to be on the client. When you trigger events on the client they are supposed to be received by server and vise versa. There is no way to catch client events from the other parts of clients code as I know.

So if you need any data from client just send it back from the server

[2020-12-22 21:38] pistol-whip opened #506 "Events are not properly executed"
Events are only executed one minute after they have been received and then are executed repeatedly every minute.

[2020-12-23 00:12] yangxyo commented on #505
ooh, I may understand, thanks.

[2020-12-23 00:12] #505 closed

[2020-12-23 10:16] probil commented on #506
Could you please provide some code? It's really hard to understand what's wrong without it.

[2020-12-23 10:30] probil commented on #493
@xzaz Project is not dead. I'm the only maintainer and I have my own life, full-time job, hobbies and family to carry about. It's really hard to find time for time-consuming unpaid open source work. Try to be a bit more appreciative and understandable.

Speaking about your particular problem, why don't you use store instead? There are a lot of caveats with components because they are not available

[2020-12-23 15:24] pistol-whip commented on #506
[code]

This is my `main.js`. Basically what happens is that I can compile the app. Open it in either dev or deployed. It connects to the web socket server and receives events but does not internally process them (or rather, with a minute delay). I have debugged a bit further and could see the messages in the internal buffer, so I am at an absolute loss what is happening.

[2020-12-24 17:07] probil commented on #506
@pistol-whip Since your app is initialized asynchronously your listeners on the root component are not able to catch events fired in between initial script execution and component being mounted. There are a lot of caveats with components because they are not available all the time. Components are not designed for that, they were made for rendering.

Socket support on components is limited only due

[2020-12-24 17:09] probil commented on #501
@kairosbusinessconsultancy There is not enough information to understand where the problem lies. Could you please provide some code/ github repo or minimal working example on codesandbox reproducing the problem?

[2020-12-25 09:30] pistol-whip commented on #506
Thank you for your response @probil .

I have tried your first suggestion but that did not work. Same behaviour, events are being executed with a minute delay. `2.` Is not applicable for that specific part but I will definitly rewrite some legacy components to use the Vuex store integration. `3.` tried it and it worked for receiving events, but whatever I do, it will not send anything anymore and

[2020-12-26 10:41] pistol-whip commented on #506
Enabling debugging gives me this: https://gist.github.com/pistol-whip/3120eac785c313cbd0e894a5a81517ff

With extended debugging on both ends, I have noticed some weird behaviour. The client is connecting to the server twice from the same connection.

[2020-12-27 17:17] handhikadj opened #508 "Events on the client are not received unless the server is restarted"
server.js

[code]

a Vue component:

[code]

I need to restart the server in order to `socketImageAcquired()` is triggered T_T

Is it because I have `async mounted()` ?

[2020-12-27 18:00] jnt0r commented on #489
I gave this a try too. #507 My version maybe still need some work but it's working for me at the moment.

[2020-12-27 18:04] probil commented on #508
I'm curious about this line:
[code]
Since you have an access to the client's socket, why don't you emit the event the same way as above? E.g.:
[code]
 According to socket's design, every client has its own socket so the message will be received only by the desired client. `io.to('<client_id>').emit()` basically emits an event inside the room. Not sure when the room for the client id is created so

[2020-12-27 18:11] probil commented on #506
@pistol-whip Oh, I dunno what might cause this. It seems like you have several points of connection. Keep it might that Vue CLI also uses socket for a feature called Hot Module Replacement but they use `sockjs` under the hood.

It would be nice if you could create a public repo on github with a minimal reproduction of the issue (no need tons of dependencies, the smallest the better) so I can dig i

[2020-12-27 18:14] probil commented on #489
Thanks guys will try to tackle this during the holiday

[2020-12-27 19:03] handhikadj commented on #508
I didn't know this. thanks for the info

this is what I have on my app:

[code]

[2020-12-27 19:07] handhikadj commented on #508
okay. solved

[2020-12-27 19:07] #508 closed

[2020-12-30 06:51] jnt0r commented on #489
I created a PR #507 for the migration to Vue 3 but am stuck at changing the documentation for usage with Nuxt.js and Quasar Framework. If anybody knows what needs to be changed there, please provide me the changes so we all can get vue3 support :)

[2021-01-03 15:18] vitarmoni opened #509 "Cannot pass query info using Socket.io client/server v3"
Hi, in socket.io client v3 they changed "query" to "auth". I've updated both server and clients.

I used to use this before opening connection: this.$socket.client.io.opts.query={foo:var} now in node clients changing "query" by "auth" it works like a charm.

But using vue-socket.io-extended with socket.io server v3 is not receiving that foo:var in auth. Also tried to write this: this.$socket.clien

[2021-01-13 09:11] ruchenshanghai opened #510 "IE 兼容性问题 （IE compatible issues）"
按照说明添加包后遇到如下问题(set up a minimum project and find this error in Internet Explorer)：
strict 模式下不允许对“slice”调用 Delete
eval code (1181) (85,7)
![image](https://user-images.githubusercontent.com/16079135/104430950-500d5700-55c2-11eb-9bab-89adf328e92c.png)
点击后跳转
![image](https://user-images.githubusercontent.com/16079135/104431019-65828100-55c2-11eb-9663-443e91919cb3.png)

[2021-01-17 18:25] probil commented on #489
I've just published alpha version of the library with Vue 3 support in `alpha` channel.

@jnt0r could you check how it work for you? Unfortunately my project at work doesn't use socket.io at all

For some reason library grown considerably:
[code]
In original MR from @jnt0r it was even 25kb due to part of the vue compiled into the library. So I made it external but there is something more. I suspec

[2021-01-17 18:59] jnt0r commented on #489
@probil Nice 👍🏽
I just tested it with my curreent project and it works for me. Did not test all features but basic features work.

I don't know why it's getting that big ... I haven't read into how you build the plugin. Maybe I catch something up than I will let you know.

[2021-01-18 17:18] jnt0r commented on #489
@probil A quick investigation into `rollup.build.sh` showed smaller plugin size when adding `vue-class-component` to external and also to globals. Got size back down to 7 KB. Also tested it with my current project and got no errors so should basically work.

[2021-01-18 19:01] probil commented on #489
Thanks for investigation @jnt0r
Since `vue-class-component` is supposed to be used with some sort of transpiler I don't think it worth adding to globals. Will update alpha with `vue-class-component` excluded soon. I even thought about making it a separate thing. Something like `vue-socket.io-extended/decorators`, e.g.:
[code]
But it would require to change the build process a bit 🤔

[2021-01-18 21:04] probil commented on #489
It turned out the build process doesn't have to.be changed that much.

Usine `exports` key in `package.json` can do the trick
https://webpack.js.org/guides/package-exports/
https://github.com/jkrems/proposal-pkg-exports/

It would also allow to remove an indecent solution (with 2 entrypoints) introduced in the v4.

[2021-01-18 22:23] probil commented on #489
Just published a new version with the decorator exported in a separate entry point.

Installation is still with `npm i vue-socket.io-extended@alpha`

Need to some feedback to make sure it works for both common usage and decorator usage. Some set of tests would probably be better it would take more time to write them

[2021-01-19 11:30] Nitwel commented on #489
Just tried this using Vue3 + Ts + CompositionApi and everything seems to be working! ❤️
Thank you very much!

[2021-01-19 11:43] ReazerDev commented on #489
I'll update my project either later today or this week aswell to test this👍

[2021-01-20 19:44] denisvitez opened #512 "How to change default namespace?"
I am using this library to communicate with Flask server, and by debugging I found out that this library uses a namespace of `/socket.io`. So message won't go through when this namespace is not matched on the server. Is there a possibility to define a different namespace when initializing the connection? If so, this could maybe be added to documentation :)

I am currently using version `4.0.6`

[2021-01-21 10:54] probil commented on #512
Hi @denisvitez 👋
The library just uses socket io instance you are passing. Hence, just configure it:

[code]

https://socket.io/docs/v2/client-api/#new-Manager-url-options

but keep in mind that there a new version of `socket.io-client` v3 which uses a bit different configuration. Check the docs of socket.io for your version.

[2021-01-21 14:41] #72 closed

[2021-01-23 17:05] denisvitez commented on #512
Hey,

thank you for the information. I also noticed that
`const socket = io('http://localhost', {  path: '/mypath' });`
and
`const socket = io('http://localhost/mypath');`

Work in the same way, so the namespace part is just the URL path. Didn't know that, I'm fairly new to Socket.IO. Since I got all the information that I needed and my app is working now, I will close this issue.

[2021-01-23 17:05] #512 closed

[2021-01-23 20:42] probil commented on #512
@denisvitez Good to know. Didn't know that too

[2021-01-24 23:13] sb2050 opened #513 "Connection Closed: 1005"
I always get the message: "Connection Closed: 1005".
Can anyone tell me what is causing this?

Firefox:
https://imgur.com/VWfs8Xm
https://imgur.com/Q8As02Z

I have included the extension as follows:
VueApp:
mainjs:
[code]

App.vue:
[code]

[2021-01-25 07:37] probil commented on #513
Which version of `socket.io-client` your are using?
Which version of `socket.io` your server is using?

[2021-01-25 09:23] sb2050 commented on #513
socket.io-client:  ^3.1.0
socket.io srver: ^3.1.0

[2021-01-25 11:14] probil commented on #513
Honestly speaking the library haven't been tested with v3 of socket.io. They did some breaking changes which might have influenced the library. If you don't use any functionality specific to v3 just roll back to v2. It was stable for years so should work well for you. In the meantime I'll try to build simple server with v3 to find out what has changed

[2021-01-25 11:19] probil commented on #464
@rfox12 fixed in alpha of v5, but requires vue 3 for now. Will try to adopt it to work with v2 + composition api plugin
https://github.com/probil/vue-socket.io-extended/tree/alpha

[2021-01-25 11:26] probil commented on #510
@ruchenshanghai sorry I don't speak Chinese.

Could you please provide some minimal repo / codesandbox reproducing the issue?
What is your version of IE?
Which version of socket.io you are using?

FYI We support only v11. Microsoft will stop supporting it in 6 months

[2021-01-26 00:26] sb2050 opened #514 "connected/disconnected loop"
After changing the socket.io server version to 2.4.1 the connection works now.
But now I get a loop where the socket connects all the way to the server and then closes again.

Firefox:
https://imgur.com/bYxjgLt
https://imgur.com/iJpTIMm

I have included the extension as follows:
VueApp:
mainjs:
[code]

App.vue:
[code]

[2021-01-26 09:45] probil commented on #514
@sb2050 Could you show me your BE code?

[2021-01-27 14:13] 5knnbdwm commented on #81
Hey, are there any news/updates about the issue with socket.io namespaces?

[2021-01-30 00:27] AllanOricil opened #515 "Does not receive any events"
I tried the old lib, then switched to yours and I had no lucky.
Here is my main.js

The code below is the only way I made it """"work""". When I used the import like you wrote in the README for the socket.io-client it was throwing an exception saying io is not an object. I just changed from `import `{ io } from 'socket.io-client';` to `import io from 'socket.io-client';`

[code]

here is the compo

[2021-01-30 09:41] probil commented on #515
Hey @AllanOricil
I assume you are using socket.io v3 which is not support.

- v2 has been around for several years and is stable for vast majority of users and use cases.
- v3 was released few months ago and has brought a few breaking changes  which are not compatible with the library just yet

So if you don't need socket.io v3 features, I recommend sticking to v2. It can be installed this way:
[c

[2021-01-31 01:56] AllanOricil commented on #515
@probil I updated my dependency to include the v2-latest package version like you suggested and it still not working.

[code]

This is how I configured the plugin in Nuxt

[code]

And inside my component I added two socket events using ``sockets` prop. It does not thrown any errors, in the Network tab I can see websocket 101 events but none of the `console.log` messages appear. My server also is n

[2021-01-31 02:29] AllanOricil commented on #515
@probil  I finally found out the problem. I was using v3 on my server. Now both are v2 and it is working as expected. Thank you anyway. Please, update the documentation to leave it clear that people should use v2 2.4.1 in the client and v2.4.0 in the server. Also, in the server, because it is v2, they have to configure it like so if they are using it with express:

[code]

It is necessary to not a

[2021-02-01 11:44] NguyenThanh1995 opened #516 "Problem with event names marked with "-""
hi on the server I have an event named "SERVER__newAnswer-comment" how can I listen for the event on the client

[2021-02-01 14:02] probil commented on #516
1. **On Component**
[code]
2. **On Vuex Store**
[code]

[2021-02-01 14:02] #516 closed

[2021-02-01 21:05] #515 closed

[2021-02-01 22:10] DblK commented on #489
I do not have the `Uncaught TypeError: e is not a constructor` error with the `alpha` version of the package but can not make it work.
@Nitwel any full example to share?

[2021-02-02 09:23] probil commented on #516
Let me know if it helped

[2021-02-02 09:29] probil commented on #489
@DblK There are some breaking changes in `alpha`.

Try to import decorator from a different path please:
[code]
Also, make sure you are using socket.io-client and socket.io v2 as v3 is not yet supported

[2021-02-02 10:15] DblK commented on #489
With this import I have got the following error: `Cannot find module 'vue-socket.io-extended/decorator' or its corresponding type declarations.`
Did I mess up somewhere ?

[2021-02-02 10:27] probil commented on #489
@DblK No. I haven't tested importing this new path in TS. Will take a look. Thanks for reporting

[2021-02-03 14:31] alza54 commented on #514
@sb2050 You probably need to downgrade `socket.io-client` version to `2.4.0`.

[2021-02-05 07:09] tapornanan opened #517 "Cannot receive any room message from server"
I have nuxt setup with the vuex store and use userId as a room name.

`$socket.emit('joinRoomByUserId', user.id)` // import from socket-instance.js

Then later in my server I emit message back to client
`this.socket.in(userId).emit('GAME_RESULT', 'some message');`

But my mutation does not receive any message from SOCKET_GAME_RESULT

I already test on [https://amritb.github.io/socketio-client-tool

[2021-02-05 08:03] probil commented on #517
Hi @tapornanan
There are a lot of moving parts and it's really hard to guess what's wrong without seeing the code of both BE and FE parts

I will take a look if create a repo reproducing the issue. Could you do that please?

[2021-02-05 10:30] tapornanan commented on #517
Thank for your response @probil
Here is a repo
[https://github.com/tapornanan/nest-nuxt-socketio](url)

[2021-02-05 12:43] tapornanan commented on #517
I am not sure why code above is working but not in my actual project. :(

[2021-02-05 13:22] tapornanan commented on #517
It was me who emit the joinRoom event inside the middleware which it run on the server side of the nuxt. Moving this code out to execute somewhere on client side solve the problems. 🥂

Thank you

[2021-02-05 13:22] #517 closed

[2021-02-05 13:26] probil commented on #517
you are welcome @tapornanan
It's so nice when the issue closes it self. :)

[2021-02-14 19:33] alza54 commented on #81
This is still issue after years. Had to switch to a self-coded Vue binding for `socket.io-client` because of this.
You would need to use different name when extending the Vue prototype and use named sockets in decorators etc.

[2021-02-19 06:46] eyesmarty opened #518 "Socket Emits Multiple Times when Each Time page re renders"
When I leave component in which i have implemented socket.client.emit and visit that component again the emit event emits two times if i do the same the emit event triggers three times and so on.

I am using it to implement webrtc and each time user changes that page emit event triggers that many time

Kindly Let me know how to solve this issue

i have tried  this.$socket.client.off("created") but

[2021-02-19 06:54] Kamran95 commented on #518
I have been facing same issue
Thanks for posting this issue

[2021-02-19 06:55] UsmanGul commented on #518
I have been facing same issue.....

[2021-02-22 03:09] probil commented on #431
@19apoorv97 There is one important thing I haven't mentioned. You need to pass the same function to `.off(event_name, fn)` in order to unsubscribe properly, `.off(event_name)` without passed function won't work. The reason for this is that there might be tons of other functions listening. Socket io needs to know which exact function you want to unsubscribe.
[code]

[2021-03-01 08:02] e-tobi opened #519 "Vue 3 composition-API support"
It would be nice to have a useSocket() to get the $socket within setup(). The basic steps would be:

- declare a TS interface with $subscribe, $unsubscribe etc
- declare an injection symbol and make it available to TS declared as InjectionKey<*interface-defined-above*>
- declare a function useSocket() (TS return type is interface defined above) - implementation calls inject(*symbol-defined-above*)

[2021-03-01 08:15] probil commented on #519
Hey @e-tobi
Thanks for your effort. I'd like to bring all the goodies of composition API to `vue-socket.io-extended`.

Could you create that PR you've mentioned with the warning anyway? I believe I can help you with it. TS on the other hand is not my strongest side so I need your help

NB: create your branch out of alpha tag, since it already has vue 3 support. I will backport it later to vue 2 +

[2021-03-01 19:33] e-tobi commented on #519
I've tried again to make this work, but I can't figure this out. The mix of a default export with the plugin install function and the named exports required for this to work (useSocket() and SocketExtensionKey) seems to make things difficult.

PR is: #520 , but it doesn't work this way. Should be enough to get an idea about what I'm trying to do.

[2021-03-01 20:13] e-tobi commented on #519
Ok - stupid me. Just when I was about to give up, the scales fell from my eyes. I totally missed to fix the exports in index.js *sigh*.
It works now, but it breaks some unit tests. I will look into this later.

[2021-03-01 21:14] e-tobi commented on #519
Ok, updated the PR - tests pass now and I've also added tests for the $socket injection via SocketExtensionKey and useSocket().

[2021-03-10 08:19] ExQDev opened #521 "Socket.io-encrypt incompability"
Vuex integration and `$socket.$subscribe` does not work with [https://github.com/laggingreflex/socket.io-encrypt](socket.io-encrypt). It returns raw encrypted data, but $socket.client.on returns decrypted data.
Please, add compability to use both of these plugins with vuex actions.

[2021-03-10 09:06] probil commented on #521
Hi @ExQDev
That issue is rather from socket.io side. There is no easy way to subscribe to all events. `vue-socket.io-extended` and  `socket.io-encrypt` use two different incompatible approaches for that. Having something like middleware on socket.io side could have helped a lot.

I went through the code of `socket.io-encrypt` and by now I don't see any easy solution to combine these two. I'd think

[2021-03-10 09:23] ExQDev commented on #521
Perhaps secured version of the protocol is nice practice, but for now this is the best solution for my project, 'cause dev version should to be secured too.

[2021-03-24 09:32] disolva commented on #416
Any news on this?
Many thanks

[2021-04-01 09:00] probil commented on #489
@MrBrax I'm not really good at TS so if you could provide the MR (to `alpha` branch) fixing the issue it would be really nice of you :)

[2021-04-01 09:01] MrBrax commented on #489
MR? I actually don't know how to fix it myself, I've never written type/definition files :(

[2021-04-01 09:12] probil commented on #489
Ah, ok. Maybe someone else can help here.

[2021-04-01 09:13] MrBrax commented on #489
It probably stems from this: https://github.com/probil/vue-socket.io-extended/blob/alpha/types/vue.d.ts#L9

Seems to be changed from the stable version.

[2021-04-01 09:27] MrBrax commented on #489
[code]

This seems to have fixed it on the editor side, but i can't really test it out in my docker container. No idea if it breaks anything either.

[2021-04-06 08:01] D-Maurel opened #523 "this._vm is undefined using Vuex modules"
Hi,

I can't find a way to make an emit from inside a socket action work. Here is my code

[code]

This code is located is a vuex module. When I reach the `emit` line, vue devtools tells me that `this._vm is undefined`. Any idea ?

[2021-04-06 08:20] probil commented on #523
Hey @D-Maurel
Could you provide a version of vuex/vue library you are using? Accessing `this` inside the module is not documented so it might be removed (or have already been removed)

I suggest checking approach (1) described here https://github.com/probil/vue-socket.io-extended/issues/91#issuecomment-397232621 as it will also work in any other places (not just outside vuex)

[2021-04-06 08:43] D-Maurel commented on #523
Hey @probil
Here is the return of `npm list`

[code]

If you have any new approach, I'm interested. In the meantime, i'll try the solutions you've linked, thank you !

[2021-04-06 09:02] probil commented on #523
Oh, I assume it's probably because of vuex 4 & vue 3. It doesn't use classes under the hood anymore. 🤔

[2021-04-06 09:23] probil commented on #523
@D-Maurel let's close the issue if the solution works for you

[2021-04-07 20:50] fl0w3rs opened #524 "How can I update ref outside of setup?"
Question in the title. Example:
[code]

[2021-04-08 07:15] fl0w3rs commented on #524
Realized that you can initialize ref outside of setup -.-

[2021-04-08 07:15] #524 closed

[2021-04-10 03:10] GaLzZy commented on #509
Yo did you have any luck with this problem ? I'm also trying to pass data on client connection but can't seem to figure out how to do it with extended...

Thanks!

[2021-04-15 14:07] #523 closed

[2021-04-17 19:31] fl0w3rs commented on #524
Don't fucking do like that.

[2021-04-21 18:59] carloslema opened #525 "Vue2/3 + VS.ioext with VUEX is not listening server events"
Sorry gang for the primitive question.

I've used VueSocketIOExt several times successfully without using VUEX. I am trying to consolidate data handling with VUEX.

When I add the store to VueSocketIOExt I can't get VUEX to receive the server's response—no console error messages. Bypassing VUEX for socket works as expected.

Tested this on both Vue2 and Vue 3, without any luck.

[code]

Vue main.j

[2021-04-22 06:13] loongmxbt commented on #455
@zhzhang-4390 Hi, I've met the same problem. Would you please tell me how you solved this?

[2021-04-22 06:24] loongmxbt opened #526 "Cannot receive socket.to(roomId).emit('xxx', data) from server"
I've stuck here for several time and hope someone can help.
I've seen some related issues but still can't figure out how.
https://github.com/probil/vue-socket.io-extended/issues/517
https://github.com/probil/vue-socket.io-extended/issues/455

Server
[code]

Client Vuex
[code]

Only `socket_test` can receive data, `socket_roomInfo` and `socket_message` cannot receive data.
When I modify server `soc

[2021-04-22 13:11] probil commented on #526
Hey @loongmxbt 👋

Rooms are supported but there is a difference how you use it on the BE. The syntax you use in Vuex actions is correct.

But according [to the docs](https://socket.io/docs/v2/rooms/), you need to trigger events on `io` (not on `socket`) in order to send message to all room participant:

<img width="982" alt="Screenshot 2021-04-22 at 16 08 43" src="https://user-images.githubusercon

[2021-04-22 13:17] probil commented on #525
Hey @carloslema 👋

Could you make sure that you use `socket.io-client` version 2.x ? (3 and 4 aren't supported yet)

[2021-04-22 14:05] carloslema commented on #525
@probil thanks for the fast reponse. I downgraded to socket.io-client to 2.3.0, now node's CORS is blocking the connection, which was not happening with 4.0. I am also following @loongmxbt question, which seems related.

[2021-04-22 15:23] probil commented on #525
@carloslema
In v2 CORS configurations is a bit different, check the link here:

v2: https://socket.io/docs/v2/handling-cors/
v4: https://socket.io/docs/v4/handling-cors/

You can either use proper parameters for configuration or just remove CORS related config all together - in v2 all connections are allowed by default.

I don't seem these issues are related

[2021-04-22 17:43] carloslema commented on #525
@probil Thanks Max — both socket.io and socket.io-client had to be downgraded to 2.3.

Unfortunately, VUEX keeps ignoring socket events.

Bypassing VUEX works as always. Strange. Ohh well... I'll circle back to moving socket handling within VUEX later. Thanks for your help and such an awesome package!

[2021-04-23 00:33] loongmxbt commented on #526
Thank you very much! Changing `socket.to` into `io.to` solves the problem! I need to watch the docs more carefully.

[2021-04-23 00:33] #526 closed

[2021-04-23 06:52] probil commented on #525
@carloslema Yes. Client's and server's version should match. BTW Vue 3 support is experimental thus I suggest to stick to Vue 2 for now.

Speaking about Vuex, there is probably one more issue left. It's really hard find it without seeing actual code but here is the list of things you can consider:
1. There is a typo in the registration code:
[code]
Double check you have correct version in you code

[2021-04-23 11:00] carloslema commented on #525
@probil Max, that was it.... I was passing  {store} as 2nd argument to io(), D'oh!
It is working as expected. Thank you so much for your help!

[2021-04-23 13:44] probil commented on #525
You are welcome, @capndave
Have a nice day ;)

[2021-04-23 13:44] #525 closed

[2021-04-24 16:12] probil commented on #513
I've build the server with socket.io v3 - works perfectly fine. Moreover, recently released socket.io v4 also works without any issues and changes in the code. Your issue might not be related to the version of socket.io 🤔

According to MDN: `Connection Closed: 1005` mean:

I don't really know what might cause this. Probably something on socket.io side. Anyway there is retry strategy built-in so it

[2021-04-24 16:12] #513 closed

[2021-04-24 17:32] AllanOricil opened #527 "Cant use with multiple websockets"
I have more than one websocket. I could not find a way to connect to more than one. Is it possible?

[2021-04-24 22:12] AllanOricil commented on #527
Never mind. I switched to nuxt socket io

[2021-04-24 22:12] #527 closed

[2021-04-25 07:59] probil commented on #518
Hey @eyesmarty
It's been a while since you've created the issue. Unfortunately I didn't have time to respond earlier.

Speaking about the issue, you might need to change the configuration a bit. `created` hooks is a bit tricky to understand. It's not called just once but every time the component is supposed to render on the page. Thus you create a new subscription every time. That's why socket emi

[2021-04-25 08:03] probil commented on #514
Seems like v2.4.1 has been discounted and no more available on `npm`.
Check **Versions** tab here: https://www.npmjs.com/package/socket.io-client

I tested the library with v2.4.0, v3 and v4 yesterday. All versions work fine. Please comment here or create a new issue he if you still experience the problem

[2021-04-25 08:03] #514 closed

[2021-04-25 08:23] probil commented on #509
@vitarmoni Your questions is not directly related to the `vue-socket.io-extended` but to the `socket.io-client`. `vue-socket.io-extended` doesn't do anything related to the connection - it just uses socket you've configured in your code.

Anyway, here is what you can use in order to help you to fix the issue. There were some breaking changes in v3. One of the them was separating query parameters u

[2021-04-25 08:42] probil commented on #430
It has been fixed in v4.1, v4.2 work fine.

Proof:
[![Edit Vue Socket IO Extended Bug #430 reproduction](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/vue-socket-io-extended-bug-430-reproduction-ryiql?fontsize=14&hidenavigation=1&theme=dark)

Closing the issue...

[2021-04-25 08:42] #430 closed

[2021-04-25 08:43] #460 closed

[2021-04-25 16:55] probil commented on #510
@ruchenshanghai I've just managed to make twitter feed demo run in IE 11 without any changes in the code.

Since you haven't provided any extra details I don't know exactly why it fails for you.

Some possible reasons are:
1) You are using dev mode (e.g. `npm run serve`) to run the app. Dev mode is simplified and focused on start time and HMR performance thus some steps are skipped. E.g. JS minifi

[2021-04-25 16:55] #510 closed

[2021-04-25 17:08] probil commented on #506
Without having minimal example reproducing the issue (github repo, codesandbox, anything else I can fetch locally and try on my machine) I don't see any other solution but to close the issue

[2021-04-25 17:08] #506 closed

[2021-04-25 17:10] #493 closed

[2021-05-06 18:12] ReazerDev opened #528 "Vue 3 Object(...) is not a function"
Hi, I'm using alpha5 and when I'm trying to use the Socket Decorator I get a TypeError in the function beneath it:
`Object(...) is not a function`.
![image](https://user-images.githubusercontent.com/36013882/117345786-3cef0180-aea7-11eb-8071-de6685dab3d2.png)
When I remove the Decorator, the TypeError is gone.

Also when running npm run serve, I get a warning:
![image](https://user-images.githubus

[2021-05-07 12:35] TheTimmaeh commented on #519
I'd love to see this in alpha. Any update?

[2021-05-11 16:27] Vitalynx commented on #525
Could you state this in the documentation because it's quite misleading

[2021-05-12 11:31] probil commented on #525
@Vitalynx `socket.io-client` 3 and 4 are supported (check examples in the repo). There were some breaking changes but as long as you have the same socket.io version on client and server it should work just fine

[2021-05-12 17:26] jnt0r commented on #528
Are you sure you're using alpha5? Newest I can found is alpha4. And there everything is working for me using @Socket Decorator.
Maybe you could provide some more context of your code. The first thing I would think of is the import of Socket. Maybe it's not correct.

[2021-05-12 17:49] jnt0r commented on #528
Okay, I need to correct my comment. Got the warning on compile-time too. Remembered that there were some breaking changes in alpha stated here https://github.com/probil/vue-socket.io-extended/issues/489#issuecomment-771497973

[2021-05-12 17:53] jnt0r commented on #489
@probil I just investigated #528 and came to this issue where you stated the breaking change for the import of the Socket Decorator. I tried it out and it didn't work as it said `TS2307: Cannot find module 'vue-socket.io-extended/decorator' or its corresponding type declarations.`
I found that the typescript definition exports the Socket still in the index.d.ts. But the decorator is not exported i

[2021-05-12 18:51] jnt0r commented on #489
@probil can you explain why the project is built into several files with .esm, .min and not into a single index.js file. And also why you extracted the decorator into a separate file.
I try to figure out how to fix the typescript definitions for the decorator. Struggling a bit, that's why I ask these questions :)

[2021-05-13 09:52] probil commented on #489
@jnt0r

Mostly for compatibility purpose. ESM is not fully supported by all the browsers but it's prefered format for modern bundlers (Webpack, Rollup, etc) especially for [tree-sharking](https://webpack.js.org/guides/tree-shaking/).
`.min` files on the other hand can be used directly in any browser without bundler involved. That's a simple way to try out the library or use in systems like Wordpre

[2021-05-13 09:56] probil commented on #489
The problem with decorator might be that we need to make sure TS can follow redirects specified in `exports` + provide type declaration for decorator.
While we could write decorator in TS there is an option to use babel plugin for decorators support without TS.

I'm also pondering the idea of full TS rewrite in order to prevent issue with TS declarations

[2021-05-13 10:44] probil commented on #528
@ReazerDev In v5 decorator is supposed to be imported from the sub-path:
[code]
could you check whether it works this way?

[2021-05-13 19:14] jnt0r commented on #489
Okay, I understand that. Had some hard time figuring out this types thing with the submodules. But got it working => PR is opened. So no need to use Babel or anything else for that.

Hopefully, I can assist at full TS rewrite :) Just ping me if you decided to start.

[2021-05-14 13:07] #509 closed

[2021-05-14 13:10] probil commented on #489
@jnt0r Merged you PR. Thanks!  💪  Could you also rebase your PR regarding `useSocket()`? there are some minor.
I'd love to have `useSocket()` in the v5

[2021-05-14 20:06] ReazerDev commented on #528
Nope I've been using alpha-4. I'm updating to alpha-5 now.

[2021-05-14 20:12] ReazerDev commented on #528
![image](https://user-images.githubusercontent.com/36013882/118323579-20834280-b501-11eb-8834-5d6018d34855.png)
Now I get this error when compiling.

This is how I import Socket:
`import Socket from 'vue-socket.io-extended/decorator';`

VSCode doesn't throw any errors and I can even Ctrl+Right-Click it and it finds the type definitions.
I've deleted my node_modules folder and my package-lock.json.

[2021-05-15 17:04] probil commented on #528
@ReazerDev That's weird. How are use transpiling TS in vue files? With typescript or babel? Or maybe something more cutting edge, e.g. esbuild?

[2021-05-15 17:34] ReazerDev commented on #528
I'm using babel

[2021-05-15 17:49] jnt0r commented on #528
I just updated to alpha.5 and it's working for me. Think I'm using babel too.
@ReazerDev can you share a link to your repo or provide some snippets of your config?

[2021-05-15 18:17] jnt0r commented on #489
@probil I will take a look at it. But first, need to understand what it should do... to be able to test it out :)

[2021-05-15 18:37] probil commented on #489
Oh sorry @jnt0r I messed you up with another guy (@e-tobi) who has created PR with the idea of `useSocket()`. You guys have the same avatar :)

[2021-05-15 19:33] ReazerDev commented on #528
I'll push the repo to Github and post a link here, once I'm home👍

[2021-05-15 20:39] ReazerDev commented on #528
https://github.com/ReazerDev/vue-3-socket-io-demo

[2021-05-15 20:54] probil commented on #489
I've spend some time today to create an example of `alpha` working with Vue 3 (Options API):
https://codesandbox.io/s/vue-socket-io-extended-v5-vue-3-options-api-skhrn

Usage of decorator syntax is coming soon, should help to fix potential issues, e.g. #528

[2021-05-16 04:44] jnt0r commented on #528
@ReazerDev got your repo working. Just updated the dependencies to the newest ones. Especially the ones with "@vue/...".

[2021-06-06 20:27] allenshaji opened #532 "How to connect multiple sockets in a single vuejs project?"
import VueSocketIOExt from 'vue-socket.io-extended';
import { io } from 'socket.io-client';

const socket = io('http://localhost:3200/');
const socket1 = io('http://localhost:3100/');

Vue.use(VueSocketIOExt, socket);
Vue.use(VueSocketIOExt, socket1);

I tried using the above code. But only only socket is working. Is it possible to connect both the sockets simultaneously. Thanks for the help in ad

[2021-06-11 17:52] jnt0r commented on #532
I don't think this is possible yet.
First, you should not be able to register the same Plugin twice.
Currently, the plugin registers one global property $socket that directly controls the one socket. So you can only have one socket instance at a time managed by the plugin. For multiple sockets, it would need to register an array $sockets for example. So you could access your sockets like $socket[1

[2021-06-16 11:16] allenshaji commented on #532
Thanks jnt0r. Is it possible to register array of sockets?

[2021-06-18 05:44] JAGFx commented on #81
@alza54 can you tell me how you do that?

[2021-06-18 16:57] tarzansarka commented on #81
+1

[2021-06-18 18:38] jnt0r commented on #532
Not yet

[2021-07-11 14:13] TheCherry opened #534 "NuxtJS with vuex"
Greetings,

I don't get your system working with nuxtjs + vuex.
If I use nuxtjs and make emits and subscriptions in a component, its work very well.
But If I try to do it with the store, I have no results.

plugin file:
[code]

example store file (I tried many variants, not only this)
[code]

[2021-07-14 15:45] ReazerDev commented on #528
Wait I think I just now realised, that you mean, that everything is working and not that you got my repo working and are starting to look what causes my issue?

[2021-07-15 18:27] jnt0r commented on #528
No. I meant that I got your repo working by updating the dependencies. You need to update the dependencies with "@vue/..." to get your repo working.

[2021-07-20 15:04] EvEloBE commented on #532
Would be interested in this as well. Built a performance monitoring app without realizing i could only connect 1 socket 😅

[2021-07-24 09:56] cybersupernova commented on #416
We also have a similar condition designing a SPA where we want to change socket connection on route change, depending upon route params.

I tried destroying the `this.$socket.client` object but this plugin seems not to emit events on the new connection

[2021-07-26 00:04] soufianeYM-eng commented on #489
Hello, I hope you're doing well please I have a problem in my project when I try to send an event to execute an action in my store, the action not executed I don't know where is the problem

`this.$store.dispatch('emitSocketEvent',20)`

this is my action that sends an event to execute another action

`const actions = {
    emitSocketEvent(context, notif){
        $socket.emit('chat_message', notif

[2021-07-27 11:20] ProfSafeer opened #535 "Memory Leakage (Memory increasing form 300MBs to 2Gbs)"
Hello, I am using vue-socket.io-extended for a chat application it works fine when I receive single message but when I send message in a loop of 500, after some messages new connection is establish and after sometime memory goes from Mbs to Gbs.

[2021-08-14 20:24] kmalski opened #536 "Support socket.io v4"
Hi, is there possibility to add support for socket.io v4? I tried to simply use **vue-socket.io-extended** with **socket.io-client** v4 and it doesn't work out of the box.

[2021-08-15 07:38] probil commented on #536
Hi @kmalski 👋
It's all about compatibility. It should work if you use socket.io v4 **on your server**. Versions of the client and server should match.

[There is a working example here](https://github.com/probil/vue-socket.io-extended/tree/master/examples/simple-chat) built on socket.io-client and server v4

Let me know whether it helped. Have a nice day

[2021-08-15 19:17] kmalski commented on #536
Hi @probil
Thank you for the advice. During the migration from socket.io **v2** to **v3** I missed the part about new default cors options. Now everything is working correctly.

Thank you once again 😃

[2021-08-15 19:17] #536 closed

[2021-08-25 05:07] renovate[bot] opened #537 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [chore(deps): update dependency camelcase to v6](../pull/451)

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-09-17 06:44] abdulhadi-lababidi opened #538 "Multiple Socket Namespaces"
In my project, the backend has multiple socket namespaces, let say:

- /app1/module_1
- /app1/module_2
- /app2/module_1
... etc.
so if I tried to to this

`const socketApp1Module1 = io('/app1/module_1');`
`const socketApp1Module2 = io('/app1/module_2');`
`const socketApp2Module1 = io('/app1/module_1');`
`Vue.use(VueSocketIOExt, ?What should I pass here?);`

and on the same page I might have a use

[2021-09-17 09:07] probil commented on #538
Hi @abdulhadi-lababidi

Unfortunately multiple namespaces aren't supported at the moment. Closing because it's duplication of #81

[2021-09-17 09:07] #538 closed

[2021-09-28 15:01] PushyPants opened #539 "Can we listen to io events from the client side?"
first off, thank you so much for creating and maintaining this package! You've saved me so much time and energy!

    sockets: {
	    listener(data) {
	    // do something with data
	    }
    }

but as noted below as of 3+ socket no longer listens to reconnect
![image](https://user-images.githubusercontent.com/36050583/135110709-8dd0bb48-1740-47b7-bdfe-2350aa054287.png)

is there a way for us to

[2021-09-30 18:00] dudusleal commented on #539
What's the socket.io-client and socket.io server version you are using?

I'm using both on 4.x and this works fine:

[code]

would be nice to integrate this to

[code]

[2021-10-26 03:27] alexwohlbruck opened #541 "How to reconnect using a different URL?"
My app switches between a production and test server depending on some context, and these two servers live on different hosts. Is there a way to update the connection to a new url? I have tried:
[code]
It seems that running Vue.use on a plugin the second time doesn't replace the old instance. How can I achieve this?

[2021-10-26 20:23] #541 closed, assigned to nobody

[2021-11-01 10:29] longyanjiang commented on #114
What if you can't get the token in the initialization phase using nuxt? When the login is successful, you can't put the token in the parameters of the IO connection

[2021-11-01 10:30] longyanjiang commented on #114
What if you can't get the token in the initialization phase using nuxt? When the login is successful, you can't put the token in the parameters of the IO connection

[2021-12-20 14:06] riklaunim opened #542 "Emitting event into custom namespace/url?"
Is there an option to emit an event but not to the global /socket.io path but a different one? My goal is to have nginx reverse proxy multiple socket.io servers based on different paths.

[2022-01-12 18:03] oldner opened #543 "Client can emit events but other listeners cannot receive it while the sender can receive. (Typescript)"
Hi

I am having an issue while using vue-socket.io-extended. I can emit perfectly data from client to server. I can see the data in server. But cannot receive back. $socket.connected is true BTW. Thanks!

![unknown1](https://user-images.githubusercontent.com/48028389/149196229-25047bd5-e218-447f-a3b8-64c17d944c64.png)
![unknown22](https://user-images.githubusercontent.com/48028389/149196250-012029

[2022-01-12 19:21] #543 closed

[2022-02-05 09:13] ptheofan opened #545 "Connect / Disconnect / ChangeURL anytime and multiple sockets"
I know this has been referenced a lot and found a number of duplicates each asking for a tiny bit of each of a major feature upgrade that was missing also from the original vue-socket-io as well.

I would define it as follows.
**Specs:**
1. Multiple socket-io connections (multiple servers)
  - It is very common that we need to connect to multiple different servers each server for a different purpo

[2022-02-10 05:56] thexeos commented on #489
There is an issue with the dependency - [@types/socket.io-client](https://www.npmjs.com/package/%40types%2Fsocket.io-client). It has been deprecated in favor of built-in typing inside `socket.io-client` package. The current (latest) version of `@types/socket.io-client` has several bugs that cause TS compilation errors.

[2022-02-14 14:53] reyesmfabian opened #547 "Vue3 + TypeScript"
Hi, I have an application with socket.io implementation with vue-socket.io-extended library.

Now. In Vue2 i have a file mixins.js with the mixins of my app. And I can access the properties of the socket like this.$socket.client.id

Something like this:

// Mixins.js file

export const myMixins ={
methods:{
async update() {
......
      const idSocket = this.$socket.client.id;
.........
    },
}
}

[2022-02-24 07:34] sQuarecoW commented on #519
What is the status on this issue?

[2022-02-25 11:46] obi84 opened #549 "Update setup section guide for quasar v2 framework"
Could you adapt/update the install/guide section for quasar v2 framework?

Quasar v2 has been released about a year ago, and I really could use a configuration guide.

Talking about the alpha version.

[2022-03-24 21:17] fjeddy commented on #519
Hellloooooo @probil

[2022-03-25 07:38] max-feroot commented on #519
Sorry due to the war in my country 🇺🇦 I wouldn't able to support the package anytime soon. Thanks for understanding 🙏